<% content_for :head do %> 
  <div class="panel_container" style="padding-left: 100px; width: 700px">
    <div class="panel panel-default" style="height: 250px">
    	<div class="panel-heading">
    	  ログイン
    	</div>
      <div class="panel-body" >
        <%= form_for(:session, url: login_path) do |f| %>
    
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
    
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <br>
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default" style="height: 250px">
    	<div class="panel-heading" >
    	  新規会員登録
    	</div>
      <div class="panel-body" style="padding-top: 20px; padding-left: 50px;" >      
        <p>会員登録をお済でない場合は、まずは会員登録をお願いします</p>
        <%= link_to "新規登録", signup_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>
