<div class="panel panel-default">
  <div class="panel-heading">
    為替レート(一覧画面)
	  <%= link_to "新規登録画面へ", new_exchange_path, class: 'btn btn-default btn-sm'%>
  </div>
  <div class="panel-body"> 
    <%= search_form_for(@q, url: exchanges_path) do |f| %>
      <%= f.label :country_start, "国名で検索" %>
      <%= f.search_field :country_start %>
	  <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
	<% end %>
	  <div style="display: inline-block">
  	  <%= form_tag({action: 'upload'}, {multipart: true}) do %>
        <label>為替レート取り込み:</label>
        <%= file_field :upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false%>             
        <%= submit_tag "UPLOAD", class: 'btn btn-default' %>
      <% end %>
	  </div> 
  </div> 
</div>