<h1>為替レート</h1>

<h3>為替レート取り込み</h3>
<%= form_tag({action: 'upload'}, {multipart: true}) do %>
  <%= file_field :upload, :datafile %>
  <%= submit_tag "UPLOAD" %>
<% end %>

<%= search_form_for(@q, url: exchanges_index_path) do |f| %>
  <%= f.label :country_start, "国名で検索" %>
  <%= f.search_field :country_start %>
 <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>日付</th>
      <th>通貨名</th>
      <th>レート</th>
    </tr>
  </thead>
  <tbody>
     <tr>
      <% @exchanges.each do |exchange| %>
        <th><%= exchange.id %></th>
        <td><%= exchange.date %></td>
        <td><%= exchange.country %></td>
        <td><%= exchange.rate %></td>
     </tr>
      <% end %>
  </tbody>
</table>
