<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">  
    <tbody class="stocks">
      <% @expense_titles = current_user.expense_titles.where(id: (@expense_title.id..(@expense_title.id + 25))) %>
      <% @expense_titles.each do |expense_title| %>
        <!--Ajax用に固有のidを設定-->
        <tr id="expense_title-<%= expense_title.id %>">
          <%= form_for(expense_title, url: expense_title_path(expense_title.id), remote: true) do |f| %> 
            <td class="update" id="check-<%= expense_title.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>     
            <td class="order_num"><%= f.text_field :item, :size=> "20"%></td>            
            <td class="update" id="expense_title-<%= expense_title.id %>"><%= link_to "修正", edit_expense_title_path(expense_title), class: 'btn btn-default btn-xs'%></td>
            
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= expense_title.id %>").change(function(e){
                $('#edit_expense_title_<%= expense_title.id %>').submit();
              });
            </script> 
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>