<div class="panel panel-default">
  <div class="panel-heading">
    楽天入金管理シート(一覧画面)
    <%= link_to "楽天損益管理シートへ", rakutens_path, class: 'btn btn-default btn-sm'%>
  </div>
  <div class="panel-body">
    <%= search_form_for(@q, url: nyukin_rakutens_path) do |f| %>   
      <%= f.label :order_num_cont, "注文番号で検索" %>
      <%= f.search_field :order_num_cont, placeholder: "部分一致"%>
      <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
    <% end %>
    <%= search_form_for(@q, url: nyukin_rakutens_path) do |f| %>          
      <%= f.label :goods_name_cont, "商品名で検索" %>
      <%= f.search_field :goods_name_cont, placeholder: "部分一致"%>
      <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
    <% end %>
    <%= search_form_for(@q, url: nyukin_rakutens_path, html: {class: 'date_form'}) do |f| %>           
      <%= f.label :sale_date, "売上日付で検索"%>
      <%= f.date_select :sale_date_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>〜
      <%= f.date_select :sale_date_lteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>
      <%= f.submit "検索", class: 'btn btn-default btn-xs' %>            
    <% end %>
  </div>
</div>

        
