<% content_for :head do %> 
  <div class="panel_container">
    <div class="panel panel-default">
    	<div class="panel-heading">
        楽天損益管理シート
        <%= link_to "楽天入金管理シートへ" , nyukin_rakutens_path, class: 'btn btn-default'%>
        <div style="display: inline-block">   
          <%= form_tag({action: 'past_data_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>過去データ取り込み:</label>
            <%= file_field :past_data_upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false %>         
            <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm' %>  
          <% end %>
        </div>
        <div style="display: inline-block">   
          <%= form_tag({action: 'past_point_upload'}, {multipart: true, class: "form_tag_rakuten"}) do %>
            <label>過去ポイントデータ取り込み:</label>
            <%= file_field :past_point_upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false %>         
            <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm' %>  
          <% end %>
        </div>
    	</div>
      <div class="panel-body">
        <%= search_form_for(@q, url: rakutens_path) do |f| %>   
          <%= f.label :order_num_cont, "受注番号で検索" %>
          <%= f.search_field :order_num_cont, placeholder: "部分一致"%>
          <%= f.submit "検索", class: 'btn btn-default btn-sm' %>
        <% end %>
        <%= search_form_for(@q, url: rakutens_path) do |f| %>   
          <%= f.label :sku_eq, "SKUで検索" %>
          <%= f.search_field :sku_eq, placeholder: "完全一致"%>
          <%= f.submit "検索", class: 'btn btn-default btn-sm' %>
        <% end %>
        <%= search_form_for(@q, url: rakutens_path) do |f| %>          
          <%= f.label :goods_name_cont, "商品名で検索" %>
          <%= f.search_field :goods_name_cont, placeholder: "部分一致"%>
          <%= f.submit "検索", class: 'btn btn-default btn-sm' %>
        <% end %>
        <%= search_form_for(@q, url: rakutens_path, html: {class: 'date_form'}) do |f| %>           
          <%= f.label :sale_date, "売上日付で検索"%>
          <%= f.date_select :sale_date_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>〜
          <%= f.date_select :sale_date_lteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>
          <%= f.submit "検索", class: 'btn btn-default btn-sm' %>            
        <% end %>
        <div style="display: inline-block">   
          <%= form_tag({action: 'csv_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>CSVﾃﾞｰﾀ取込み:</label>
            <%= file_field :csv_upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false %>         
            <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm' %>  
          <% end %>
        </div>
        <div style="display: inline-block">   
          <%= form_tag({action: 'point_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>InvestList 取込み:</label>
            <%= file_field :point_upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
            <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm'%>
          <% end %>  
        </div>
        <div style="display: inline-block">   
          <%= form_tag({action: 'credit_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>TransferDetail 取込み:</label>
            <%= file_field :credit_upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
            <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm'%>
          <% end %>  
        </div>
        <div style="display: inline-block">   
          <%= form_tag({action: 'bank_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>BankReceive 取込み:</label>
            <%= file_field :bank_upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
            <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm'%>
          <% end %>  
        </div>
        <div style="display: inline-block">   
          <%= form_tag({action: 'multi_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>nyukin_meisai 取込み:</label>
            <%= file_field :multi_upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
            <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm'%>
          <% end %>  
        </div>
        <div style="display: inline-block">   
          <%= form_tag({action: 'rakuten_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>BankDetailList 取込み:</label>
            <%= file_field :rakuten_upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
            <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm'%>
          <% end %>  
        </div>
          <%= link_to "手数料入力" , commission_rakutens_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="table-responsive.rakuten">  
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="update"><a href= ./rakutens/destroy class="btn btn-default btn-sm">削除</th>             
          <th class="date">売上日付</th>      
          <th class="reference">注文番号</th>
          <th class="large">SKU</th>
          <th class="content">商品名</th>
          <th class="half">カード種別</th>
          <th class="right">単価</th>          
          <th class="rate">個数</th> 
          <th class="right">商品代</th>
          <th class="right">送料・消費税等</th>          
          <th class="right">店舗ｸｰﾎﾟﾝ</th>
          <th class="right">売上総額</th>          
          <th class="right">原価</th>
          <th class="right">楽天手数料</th>
          <th class="right">楽天ポイント</th>
          <th class="right">追加ｼｽﾃﾑ利用料</th>
          <th class="right">カード<br>手数料等</th>          
          <th class="right">手数料総額</th>          
          <th class="right">送料</th>    
          <th class="right">利益</th> 
          <th class="update">更新</th>          
        </tr>
      </thead>
<% end %>
      <tbody class="rakutens">
        <% @rakutens.each do |rakuten|  %>
        <tr>
          <%= form_for(rakuten, url: rakuten_path(rakuten.id), remote: true) do |f| %>
            <td class="update" id="check-<%= rakuten.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>       
            <td class="date"><%= f.text_field :sale_date, :size => 8 %></td>          
            <td class="reference"><%= f.text_field :order_num, :size => 25%></td>
            <td class="large"><%= f.text_field :sku, :size => 12 %></td>
            <td class="content"><%= f.text_field :goods_name, :size => 42 %></td>            
            <td class="half"><%= f.select :kind_of_card, ['楽天カード', '一般カード'], { include_blank: ''}, { class: "select"}%></td>            
            <td class="right"><%= f.text_field :unit_price, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td> 
            <td class="rate"><%= f.text_field :number, :size => 1, :style=>"text-align:right"%></td>
              <% goods_price = rakuten.unit_price.to_i * rakuten.number.to_i %>            
            <td class="right"><%= addcomma(goods_price.to_i) %></td>
              <% shipping_tax_cod = rakuten.shipping_cost.to_i + rakuten.consumption_tax.to_i + rakuten.cod_fee.to_i%> 
            <td class="right"><%= addcomma(shipping_tax_cod.to_i) %></td>             
            <td class="right"><%= f.text_field :shop_coupon, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :total_sales, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"></td>
            <td class="right"><%= f.text_field :commission, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :vest_point, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :system_improvement, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :credit_commission, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>            
            <td class="right"><%= f.text_field :total_commissions, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>            
            <td class="right"><%= f.text_field :shipping_payment, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td> 
            <td class="right" style="text-align:right"></td>
            <td class="update" id="submit-<%= rakuten.id %>"><%= f.submit "更新", class: 'btn btn-default btn-sm'%></td>
            
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= rakuten.id %>").change(function(e){
                $('#edit_rakuten_<%= rakuten.id %>').submit();
              });
            </script>
          <% end %> 
        </tr>  
        <% end %>
        <tr>
          <td class="update"></td>           
          <td class="date"></td>
          <td class="reference"></td>
          <td class="large"></td>
          <td class="content" style="text-align:right"></td>
          <td class="half"></td>
          <td class="right">合計</td>          
            <% total_quantity = @rakutens.group(:id, :number).sum(:number).values.inject(:+) %>  
          <td class="rate"><%= addcomma(total_quantity.to_i) %></td>         
            <% total_sale_amount = @rakutens.group(:id, :total_sales).sum(:total_sales).values.inject(:+) %>        
          <td class="right"><%= addcomma(total_sale_amount.to_i) %></td>
          <td class="right"></td>
          <td class="right"></td>
            <% total_commission = @rakutens.group(:id, :commission).sum(:commission).values.inject(:+) %>            
          <td class="right"><%= addcomma(total_commission.to_i) %></td>
          <td class="right"></td>
          <td class="right"></td>
          <td class="right"></td>
          <td class="right"></td>
          <td class="right"></td>
          <td class="right"></td>
          <td class="right"></td>
          <td class="right"></td>
          <td class="update"></td>
        </tr>
      </tbody>
<% content_for :foot do %> 
        <%= form_for(@rakuten) do |f|  %>
      <tbody class="footer">
        <tr>
          <td class="update"></td>
            <td class="date"><%= f.text_field :sale_date, :size => 8 %></td>          
            <td class="reference"><%= f.text_field :order_num, :size => 25%></td>
            <td class="large"><%= f.text_field :sku, :size => 12 %></td>
            <td class="content"><%= f.text_field :goods_name, :size => 42 %></td>            
            <td class="half"><%= f.select :kind_of_card, ['楽天カード', '一般カード'], { include_blank: ''}, { class: "select"}%></td>            
            <td class="right"><%= f.text_field :unit_price, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td> 
            <td class="rate"><%= f.text_field :number, :size => 1, :style=>"text-align:right"%></td>         
            <td class="right"></td>
            <td class="right"></td>             
            <td class="right"><%= f.text_field :shop_coupon, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :total_sales, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"></td>
            <td class="right"><%= f.text_field :commission, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :vest_point, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :system_improvement, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :credit_commission, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>            
            <td class="right"><%= f.text_field :total_commissions, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>            
            <td class="right"><%= f.text_field :shipping_payment, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td> 
            <td class="right" style="text-align:right"></td>     
          <td class="update"><%= f.submit "登録", class: 'btn btn-default btn-sm'%></td>
        </tr> 
        <% end %>  
      </tbody>
    </table>
  <%= paginate @rakutens %>
  </div>

  <div style="display: inline-block;">
    <label>データのダウンロードはこちら:</label>
    <%= link_to "ダウンロード", rakutens_path(format: "csv") %>
    <label>　過去データ入力フォーマットはこちらからダウンロードしてください:</label>
    <%= link_to "フォーマット出力", blank_form_rakutens_path(format: "csv"), class: "btn btn-primary btn-sm" %>
    <label>　過去ポイントデータ入力フォーマットはこちらからダウンロードしてください:</label>
    <%= link_to "フォーマット出力", blank_form_rakutens_path(format: "csv"), class: "btn btn-primary btn-sm" %>
  </div>
<% end %>