<% content_for :head do %> 
  <div class="panel_container">
    <div class="panel panel-default">
    	<div class="panel-heading">
        楽天入金管理シート
        <%= link_to "楽天損益管理シートへ" , rakutens_path, class: 'btn btn-default'%>
    	</div>
      <div class="panel-body">
        <%= search_form_for(@q, url: nyukin_rakutens_path) do |f| %>   
          <%= f.label :order_num_cont, "受注番号で検索" %>
          <%= f.search_field :order_num_cont, placeholder: "部分一致"%>
          <%= f.submit "検索", class: 'btn btn-default' %>
        <% end %>
        <%= search_form_for(@q, url: nyukin_rakutens_path) do |f| %>          
          <%= f.label :goods_name_cont, "商品名で検索" %>
          <%= f.search_field :goods_name_cont, placeholder: "部分一致"%>
          <%= f.submit "検索", class: 'btn btn-default' %>
        <% end %>
        <%= search_form_for(@q, url: nyukin_rakutens_path, html: {class: 'date_form'}) do |f| %>           
          <%= f.label :sale_date, "売上日付で検索"%>
          <%= f.date_select :sale_date_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>〜
          <%= f.date_select :sale_date_lteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>
          <%= f.submit "検索", class: 'btn btn-default' %>            
        <% end %>
        <div style="display: inline-block">   
          <%= form_tag({action: 'credit_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>ｸﾚｼﾞｯﾄ決済ﾃﾞｰﾀ取込み:</label>
            <%= file_field :credit_upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
            <%= submit_tag "UPLOAD", class: 'btn btn-default'%>
          <% end %>  
        </div>
        <div style="display: inline-block">   
          <%= form_tag({action: 'bank_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>楽天口座決済ﾃﾞｰﾀ取込み:</label>
            <%= file_field :bank_upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
            <%= submit_tag "UPLOAD", class: 'btn btn-default'%>
          <% end %>  
        </div>
        <div style="display: inline-block">   
          <%= form_tag({action: 'multi_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>楽天ﾏﾙﾁ決済ﾃﾞｰﾀ取込み:</label>
            <%= file_field :multi_upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
            <%= submit_tag "UPLOAD", class: 'btn btn-default'%>
          <% end %>  
        </div>
        <div style="display: inline-block">   
          <%= form_tag({action: 'rakuten_upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>楽天ﾊﾞﾝｸ決済ﾃﾞｰﾀ取込み:</label>
            <%= file_field :rakuten_upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
            <%= submit_tag "UPLOAD", class: 'btn btn-default'%>
          <% end %>  
        </div> 
      </div>
    </div>
  </div>

  <div class="table-responsive">  
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="update"><a href= ./pladmins/destroy class="btn btn-default btn-sm">削除</th>             
          <th class="date">売上日付</th>      
          <th class="reference">注文番号</th>
          <th class="content">商品名</th>
          <th class="right">売上総額</th>
          <th class="right">ポイント</th>
          <th class="right">クーポン</th>          
          <th class="right">カード<br>手数料</th>          
          <th class="right">入金額</th>
          <th class="right">未入金</th>          
          <th class="update">更新</th>          
        </tr>
      </thead>
<% end %>
      <tbody class="expenseledgers">
        <% @rakutens.each do |rakuten|  %>
        <tr>
          <%= form_for(rakuten, url: rakuten_path(rakuten.id), remote: true) do |f| %>
            <td class="update" id="check-<%= rakuten.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>       
            <td class="date"><%= f.text_field :sale_date, :size => 8 %></td>          
            <td class="reference"><%= f.text_field :order_num, :size => 25%></td>
            <td class="content"><%= f.text_field :goods_name, :size => 42 %></td>
            <td class="right"><%= f.text_field :total_sales, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :use_point, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :use_coupon, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right"><%= f.text_field :credit_commission, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>                  
            <td class="right" style="text-align:right"><%= f.text_field :receipt_amount, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="right" style="text-align:right"><%= f.text_field :minyukin, :size => 4, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>            
            <td class="update" id="submit-<%= rakuten.id %>"><%= f.submit "更新", class: 'btn btn-default btn-sm'%></td>
            
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= rakuten.id %>").change(function(e){
                $('#edit_rakuten_<%= rakuten.id %>').submit();
              });
            </script>
          <% end %> 
        </tr>  
        <% end %>
        <tr>
          <td class="update"></td>           
          <td class="date"></td>
          <td class="reference"></td>
          <td class="content" style="text-align:right"></td>
          <td class="right">合計</td>          
            <% total_quantity = @rakutens.group(:id, :number).sum(:number).values.inject(:+) %>  
          <td class="right"><%= addcomma(total_quantity.to_i) %></td>         
            <% total_sale_amount = @rakutens.group(:id, :total_sales).sum(:total_sales).values.inject(:+) %>        
          <td class="right"><%= addcomma(total_sale_amount.to_i) %></td>
          <td class="right"></td>
            <% total_commission = @rakutens.group(:id, :commission).sum(:commission).values.inject(:+) %>            
          <td class="right"><%= addcomma(total_commission.to_i) %></td>
          <td class="right"></td>           
          <td class="update"></td>
        </tr>
      </tbody>
<% content_for :foot do %> 
    </table>
  <%= paginate @rakutens %>
  </div>

  <div style="display: inline-block;">
    <p>Download:
      <%= link_to "CSV形式でダウンロード", rakutens_path(format: "csv") %>
    </p>
  </div>
<% end %>