<% content_for :head do %> 
  <div class="panel_container">
    <div class="panel panel-default">
	  <div class="panel-heading">
      その他損益管理シート
	  </div>
      <div class="panel-body">
        <%= search_form_for(@q, url: yafuokus_path) do |f| %>   
          <%= f.label :order_num_cont, "注文番号で検索" %>
          <%= f.search_field :order_num_cont, placeholder: "部分一致"%>
          <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
        <% end %>
        <%= search_form_for(@q, url: yafuokus_path) do |f| %>   
          <%= f.label :sku_eq, "SKUで検索" %>
          <%= f.search_field :sku_eq, placeholder: "完全一致"%>
          <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
        <% end %>
        <%= search_form_for(@q, url: yafuokus_path) do |f| %>          
          <%= f.label :goods_name_cont, "商品名で検索" %>
          <%= f.search_field :goods_name_cont, placeholder: "部分一致"%>
          <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
        <% end %>
        <%= search_form_for(@q, url: yafuokus_path, html: {class: 'date_form'}) do |f| %>           
          <%= f.label :date, "日付で検索"%>
          <%= f.date_select :date_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>〜
          <%= f.date_select :date_lteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>
          <%= f.submit "検索", class: 'btn btn-default btn-xs' %>            
        <% end %>
        <div style="display: inline-block">   
          <%= form_tag({action: 'upload'}, {multipart: true, class: "form_tag"}) do %>
            <label>損益データ取り込み:</label>
            <%= file_field :upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false %>         
            <%= submit_tag "UPLOAD", class: 'btn btn-default btn-xs' %>  
          <% end %>
        </div>  
      </div>
    </div>
  </div>

  <div class="table-responsive">  
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="update"><a href= ./yafuokus/destroy class="btn btn-default btn-xs">削除</th>       
          <th class="right">仕入ID</th>            
          <th class="account">日付</th>      
          <th class="order_num">注文番号</th>
          <th class="large">SKU</th>
          <th class="content">商品名</th>
          <th class="company">売上先</th>
          <th class="amount">単価</th>           
          <th class="rate">個数</th>               
          <th class="amount">売上高</th>
          <th class="amount">原価</th>
          <th class="amount">手数料</th>
          <th class="amount">送料</th>    
          <th class="amount">利益</th> 
          <th class="account">入金日</th>
          <th class="account">手数料支払日</th>
          <th class="account">送料支払日</th>
          <th class="update"></th>          
        </tr>
      </thead>
<% end %>
      <tbody class="expenseledgers">
        <% @yafuokus.each do |yafuoku|  %>
        <tr>
          <%= form_for(yafuoku, url: yafuoku_path(yafuoku.id), remote: true) do |f| %>
            <td class="update" id="check-<%= yafuoku.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>      
            <td class="right"><%= yafuoku.stock_id %></td>
            <td class="account"><%= f.text_field :date, :size => 8 %></td>          
            <td class="order_num"><%= f.text_field :order_num, :size => 18 %></td>
            <td class="large"><%= f.text_field :sku, :size => 12 %></td>
            <td class="content"><%= f.text_field :goods_name, :size => 42 %></td>
            <td class="company"><%= f.text_field :sale_place, :size => 8 %></td>
            <td class="amount"><%= f.text_field :unit_price, :size => 6, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>            
            <td class="rate"><%= f.text_field :number, :size => 1, :style=>"text-align:right"%></td>                 
            <td class="amount"><%= f.text_field :sales_amount, :size => 6, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="amount"><%= addcomma(yafuoku.cogs_amount.to_i) %></td>
            <td class="amount"><%= f.text_field :commission, :size => 6, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="amount"><%= f.text_field :shipping_cost, :size => 6, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <% profit = yafuoku.sales_amount.to_i - yafuoku.commission.to_i - yafuoku.cogs_amount.to_i - yafuoku.shipping_cost.to_i %>
            <td class="amount" style="text-align:right"><%= addcomma(profit)%></td>
            <td class="account"><%= f.text_field :money_receipt_date, :size => 8 %></td>
            <td class="account"><%= f.text_field :commission_pay_date, :size => 8 %></td>        
            <td class="account"><%= f.text_field :shipping_pay_date, :size => 8 %></td>        
            <td class="update" id="submit-<%= yafuoku.id %>"><%= f.submit "更新", class: 'btn btn-default btn-xs'%></td>
            
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= yafuoku.id %>").change(function(e){
                $('#edit_yafuoku_<%= yafuoku.id %>').submit();
              });
            </script>
          <% end %> 
        </tr>  
        <% end %>
        <tr>
          <td class="update"></td>      
          <td class="right"></td>          
          <td class="account"></td>
          <td class="order_num"></td>
          <td class="large"></td>
          <td class="content"></td>
          <td class="company"></td>
          <td class="amount">合計</td>
            <% total_quantity = @yafuokus.group(:id, :number).sum(:number).values.inject(:+) %>
          <td class="rate"><%= addcomma(total_quantity.to_i) %></td>         
            <% total_sale_amount = @yafuokus.group(:id, :sales_amount).sum(:sales_amount).values.inject(:+) %>        
          <td class="amount"><%= addcomma(total_sale_amount.to_i) %></td>
            <% total_cgs_amount = @yafuokus.group(:id, :cogs_amount).sum(:cogs_amount).values.inject(:+) %>            
          <td class="amount"><%= addcomma(total_cgs_amount.to_i) %></td>
            <% total_commission = @yafuokus.group(:id, :commission).sum(:commission).values.inject(:+) %>            
          <td class="amount"><%= addcomma(total_commission.to_i) %></td>
            <% total_shipping_cost = @yafuokus.group(:id, :shipping_cost).sum(:shipping_cost).values.inject(:+) %>            
          <td class="amount"><%= addcomma(total_shipping_cost.to_i) %></td>
            <% total_profit = total_sale_amount.to_i - total_cgs_amount.to_i -  total_commission.to_i - total_shipping_cost.to_i %>
          <td class="amount"><%= addcomma(total_profit.to_i) %></td>   
          <td class="account"></td>
          <td class="account"></td>
          <td class="account"></td>
          <td class="update"></td>
        </tr>
      </tbody>
<% content_for :foot do %> 
        <%= form_for(@yafuoku) do |f|  %>
      <tbody class="footer">
        <tr>
          <td class="update"></td>
          <td class="right"></td>
          <td class="account"><%= f.text_field :date, :size => 8 %></td>
          <td class="order_num"><%= f.text_field :order_num, :size => 18 %></td>
          <td class="large"><%= f.text_field :sku, :size => 12 %></td>
          <td class="content"><%= f.text_field :goods_name, :size => 42 %></td>
          <td class="company"><%= f.text_field :sale_place, :size => 8 %></td>  
          <td class="amount"><%= f.text_field :unit_price, :size => 6, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>      
          <td class="rate"><%= f.text_field :number, :size => 1, :style=>"text-align:right"%></td>                  
          <td class="amount"><%= f.text_field :sales_amount, :size => 6, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
          <td class="amount"></td>
          <td class="amount"><%= f.text_field :commission, :size => 6, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
          <td class="amount"><%= f.text_field :shipping_cost, :size => 6, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
          <td class="amount"></td>      
          <td class="account"><%= f.text_field :money_receipt_date, :size => 8 %></td>
          <td class="account"><%= f.text_field :commission_pay_date, :size => 8 %></td>
          <td class="account"><%= f.text_field :shipping_pay_date, :size => 8 %></td>
          <td class="update"><%= f.submit "登録", class: 'btn btn-default btn-xs'%></td>
        </tr> 
        <% end %>  
      </tbody>
    </table>
  <%= paginate @yafuokus %>

    <div style="display: inline-block;">
      <label>データのダウンロードはこちら:</label>
      <%= link_to "ダウンロード", yafuokus_path(format: "csv"), class: "btn btn-primary btn-xs" %>    
      <label>　フォーマットはこちらからダウンロードしてください:</label>
      <%= link_to "フォーマット出力", blank_form_yafuokus_path(format: "csv"), class: "btn btn-primary btn-xs" %>
    </div>
  </div>      
<% end %>
