<% content_for :head do %> 
  <div class="panel_container">
    <div class="panel panel-default">
    	<div class="panel-heading">
    	  経費台帳
    	</div>
      <div class="panel-body">      
        <%= form_tag({action: 'upload'}, {multipart: true, class: "form_tag"}) do %>
          <label>経費取込み:</label>
          <%= file_field :upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false %>
          <%= submit_tag "UPLOAD", class: 'btn btn-default' %>
        <% end %>
      </div> <%#7行目<div class="panel-body"> %>
    </div> <%#3行目<div class="panel-heading"> %>
  </div> <%#2行目<div class="panel_container"> %>
    
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="update"><a href= ./expenseledgers/destroy class="btn btn-default btn-sm">削除</th>
          <th class="middle">取引ID</th>           
          <th class="account">日付</th>
          <th class="asin">勘定科目</th>
          <th class="amount">金額(外貨)</th>
          <th class="rate">レート</th>
          <th class="amount">金額(円貨)</th>
          <th class="account" >支払日</th>
          <th class="asin">購入先</th>
          <th class="account">通貨</th>
          <th class="content">摘要</th>
          <th class="update">更新</th>           
        </tr>
      </thead>
<% end %>      
      <tbody class="expenseledgers">
        <% @expenseledgers.each do |expenseledger| %>
          <tr>
            <%= form_for(expenseledger, url: expenseledger_path(expenseledger.id), remote: true) do |f| %>
              <td class="update" id="check-<%= expenseledger.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>
              <td class="middle"><%= expenseledger.sale_id %></td>                
              <td class="account"><%= f.text_field :date, :size=> "8"%></td>
              <td class="asin"><%= f.text_field :account_name, :size=> "12"%></td>
            
            <% ex_currency = Currency.find_by(name: expenseledger.currency) %>
            <% if ex_currency.method == "外貨×為替レート" %>  
              <td class="account"><%= f.text_field :amount, :size=> "8", :style=>"text-align:right", data: { autonumeric: {mDec: 2} }%></td>
              <td class="rate"><%= expenseledger.rate.to_f %></td>
            <% elsif ex_currency.method == "外貨÷100×為替レート" %>
              <td class="account"><%= f.text_field :amount, :size=> "8", :style=>"text-align:right", data: { autonumeric: {mDec: 0} }%></td>
              <td class="rate"><%= expenseledger.rate.to_f %></td>            
            <% else %>
              <td class="account"><%= f.text_field :amount, :size=> "8", :style=>"text-align:right", data: { autonumeric: {mDec: 0} }%></td>
              <td class="rate"><%= expenseledger.rate.to_i %></td>
            <% end %>
  
            <% ex_total = expenseledger.amount.to_f * expenseledger.rate.to_f %>
            <% total = BigDecimal(ex_total.to_s).round(0) %>
              <td class="amount"><%= addcomma(total.to_i) %></td>
              
              <td class="account"><%= f.text_field :money_paid, :size=> "8"%></td>
              <td class="asin"><%= f.text_field :purchase_from, :size=> "12"%></td>
              <td class="account"><%= f.text_field :currency, :size=> "8"%></td>
              <td class="content" style="white-space:nowrap;"><%= f.text_field :content, :size => "42"%></td>
              <td class="update" id="submit-<%= expenseledger.id %>"><%= f.submit "更新", class: 'btn btn-default btn-sm'%></td>
              
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= expenseledger.id %>").change(function(e){
                $('#edit_expenseledger_<%= expenseledger.id %>').submit();
              });
            </script>                    
            <% end %> 
          </tr>
        <% end %>
      </tbody>
<% content_for :foot do %>
      <%= form_for(@expenseledger) do |f| %>
        <tbody class="footer">
          <tr>
            <td class="update"></td>
            <td class="middle"></td>             
            <td class="account"><%= f.text_field :date, :size=> "8"%></td>
            <td class="asin"><%= f.text_field :account_name, :size=> "12"%></td>
            <td class="amount"><%= f.text_field :amount, :size=> "8", :style=>"text-align:right"%></td>
            <td class="rate"></td>
            <td class="amount"></td>
            <td class="account"><%= f.text_field :money_paid, :size=> "8"%></td>
            <td class="asin"><%= f.text_field :purchase_from, :size=> "12"%></td>
            <td class="account"><%= f.text_field :currency, :size=> "8"%></td>
            <td class="content" style="white-space:nowrap;"><%= f.text_field :content, :size => "42"%></td>
            <td class="update"><%= f.submit "登録", class: 'btn btn-default btn-sm' %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <%= paginate @expenseledgers %>

    <div class="row">
      <div class="col-md-6">  
        <p>
          Download:
          <%= link_to "CSV形式でダウンロード", expenseledgers_path(format: "csv") %>
        </p>
      </div>
      <div style="display: inline-block;">
        <div class="col-md-6">  
          <p>フォーマットはこちらからダウンロードしてください:</p>
        </div>  
        <div class="col-md-2">   
          <%= link_to "フォーマット出力", blank_form_expenseledgers_path(format: "csv"), class: "btn btn-primary btn-sm" %>  
        </div>
      </div>
    </div>
  </div>
<% end %> 