    <tbody class="rakuten_costs">
      <% @rakuten_costs.each do |rakuten_cost| %>
        <!--Ajax用に固有のidを設定-->
        <tr id="rakuten_cost-<%= rakuten_cost.id %>">
          <%= form_for(rakuten_cost, url: rakuten_cost_path(rakuten_cost.id), remote: true) do |f| %>
            <td class="update" id="check-<%= rakuten_cost.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>       
            <td class="date"><%= rakuten_cost.billing_date %></td>          
            <td class="amount"><%= addcomma(rakuten_cost.pc_usage_fee.to_i) %></td>
            <td class="amount"><%= addcomma(rakuten_cost.mobile_usage_fee.to_i) %></td>
            <td class="amount"><%= addcomma(rakuten_cost.pc_vest_point.to_i) %></td>                    
            <td class="amount"><%= addcomma(rakuten_cost.mobile_vest_point.to_i) %></td> 
            <td class="amount"><%= addcomma(rakuten_cost.affiliate_reward.to_i) %></td>      
            <td class="amount"><%= addcomma(rakuten_cost.affiliate_system_fee.to_i) %></td>
            <td class="amount"><%= addcomma(rakuten_cost.r_card_plus.to_i) %></td>
            <td class="amount"><%= addcomma(rakuten_cost.system_improvement_fee.to_i) %></td>
            <td class="amount"><%= addcomma(rakuten_cost.open_shop_fee.to_i) %></td>            
            <td class="date"><%= rakuten_cost.payment_date %></td>
            <td class="update" id="submit-<%= rakuten_cost.id %>"><%= link_to "修正", edit_rakuten_cost_path(rakuten_cost), class: 'btn btn-default btn-xs'%></td>
            
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= rakuten_cost.id %>").change(function(e){
                $('#edit_rakuten_cost_<%= rakuten_cost.id %>').submit();
              });
            </script>
          <% end %> 
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @rakuten_costs %>
</div>