<div class="panel panel-default">
	<div class="panel-heading">
	  楽天請求管理シート(新規登録画面)
	  <%= link_to "一覧画面へ", rakuten_costs_path, class: 'btn btn-default btn-xs'%>
	</div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="date">課金期間<br>終了日<br>（課金日）</th>            
          <th class="amount">ＲＭＳシステム<br>利用料</th>      
          <th class="amount">ＲＭＳシステム<br>利用料<br>（モバイル）</th>
          <th class="amount">楽天スーパーポイント付与料<br>（通常売上）</th>
          <th class="amount">楽天スーパーポイント付与料<br>（モバイル）</th>
          <th class="amount">スーパーアフィリエイト<br>成果報酬</th>
          <th class="amount">スーパーアフィリエイト<br>システム利用料</th>          
          <th class="amount">Ｒ－ＣＡＲＤ<br>ＰＬＵＳ</th> 
          <th class="amount" style="font-size: 10px;">モールにおける取引の安全性及び利便性の向上のためのシステム利用料</th>
          <th class="amount">ＲＭＳ出店料</th>         
          <th class="date">支払日</th>          
          <th class="update"></th>          
        </tr>
      </thead>
      <%= form_for(@rakuten_cost) do |f| %>
        <tbody class="footer">
          <tr>   
            <td class="date"><%= f.text_field :billing_date, :size => 7 %></td>          
            <td class="amount"><%= f.text_field :pc_usage_fee, :size => 7, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="amount"><%= f.text_field :mobile_usage_fee, :size => 7, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="amount"><%= f.text_field :pc_vest_point, :size => 7, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>                    
            <td class="amount"><%= f.text_field :mobile_vest_point, :size => 7, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td> 
            <td class="amount"><%= f.text_field :affiliate_reward, :size => 7, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>      
            <td class="amount"><%= f.text_field :affiliate_system_fee, :size => 7, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="amount"><%= f.text_field :r_card_plus, :size => 7, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="amount"><%= f.text_field :system_improvement_fee, :size => 7, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="amount"><%= f.text_field :open_shop_fee, :size => 7, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>            
            <td class="date"><%= f.text_field :payment_date, :size => 7 %></td>
            <td class="update" id="submit-<%= @rakuten_cost.id %>"><%= f.submit "更新", class: 'btn btn-default btn-xs'%></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>