<h1>付随費用</h1>

<div class="container-fluid">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>削除ボタン</th>
          <th>ID</th>
          <th>諸掛項目</th>
          <th>按分方法</th>
          <th>按分先在庫</th>
          <th>日付</th>
          <th>通貨名</th>      
          <th>外貨建金額</th>
          <th>為替レート</th>
          <th>円金額</th>
          <th>支払先</th>
        </tr>
      </thead>
      <tbody>
        <% Subexpense.includes(:expense_relation_stocks).all.each do |subexpense| %>
          <tr>
            <%= form_for(subexpense, url: subexpense_path(subexpense)) do |f| %>
            <td><%= link_to "削除" , subexpense , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
            <th><%= subexpense.id %></th>
            <td><%= f.text_field :item %></td>
            <td><%= f.text_field :method %></td>
            <td>
              <% subexpense.expense_relation_stocks.each do |stock| %>
                <%= stock.purchase_date %>：<%= stock.asin %><br><%= stock.goods_name %><br>
              <% end %>
            </td>
            <td><%= f.text_field :date %></td>
            <td><%= f.text_field :currency %></td>
            <td><%= f.text_field :amount %></td>
            <td><%= subexpense.rate %></td>
            <% yen_amount = BigDecimal(subexpense.amount.to_s).round(2) * subexpense.rate %>
            <td><%= sprintf("%.0f",yen_amount) %></td>        
            <td><%= f.text_field :purchase_from %></td>
            <td class="hidden-lg hidden-md hidden-sm hidden-xs"><%= f.submit %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "新規登録画面へ", :action => "index" %>