<h1>付随費用</h1>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="update"><%= link_to '削除',subexpenses_destroy_path,class: 'btn btn-default' %></th>
          <th class="small">ID</th>
          <th class="middle_large">諸掛項目</th>
          <th class="subexpense">按分先在庫</th>
          <th class="account">日付</th>
          <th class="account">通貨名</th>      
          <th class="amount">外貨建<br>金額</th>
          <th class="rate">レート</th>
          <th class="amount">円金額</th>
          <th class="account">支払先</th>
          <th class="account">支払日</th>
          <th class="update">更新</th>
        </tr>
      </thead>
      <tbody>
        <% Subexpense.includes(:expense_relation_stocks).all.each do |subexpense| %>
          <tr>
          <%= form_for(subexpense, url: subexpense_path(subexpense), remote: true) do |f| %>
            <td class="update" id="check-<%= subexpense.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>
            <th class="small"><%= subexpense.id %></th>
            <td class="middle_large" style="white-space:nowrap;"><%= f.collection_select(:item, ExpenseTitle.all, :item, :item, {include_blank: subexpense.item, include_hidden: true },{multiple: true}) %></td>

            <td class="subexpense" style="display:block; white-space:nowrap; overflow:scroll; height:100px; width:500px;">
              <% subexpense.expense_relation_stocks.each do |stock| %>
                <%= stock.date %> <%= stock.asin %> <%= stock.goods_name %><br>
              <% end %>
            </td>
            <td class="account"><%= f.text_field :date, :size=> "8"%></td>
            <td class="account"><%= f.text_field :currency, :size=> "8"%></td>
            
          <% ex_currency = Currency.find_by(name: subexpense.currency) %>
          <% if ex_currency.method == "外貨×為替レート" %>              
            <td class="amount"><%= f.text_field :amount, :size=> "8", :style=>"text-align:right", data: { autonumeric: {mDec: 2} }%></td>
          <% else %>
            <td class="amount"><%= f.text_field :amount, :size=> "8", :style=>"text-align:right", data: { autonumeric: {mDec: 0} }%></td>
          <% end %>
          
            <td class="rate"><%= subexpense.rate %></td>
          <% yen_amount = BigDecimal(subexpense.amount.to_s).round(2) * subexpense.rate %>
            <td class="amount"><%= addcomma(yen_amount.to_i) %></td>        
            <td class="account"><%= f.text_field :purchase_from, :size=> "8"%></td>
            <td class="account"><%= f.text_field :money_paid, :size=> "8"%></td>
            <td class="update" id="submit-<%= subexpense.id %>"><%= f.submit "更新", class: 'btn btn-default'%></td>
              
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= subexpense.id %>").change(function(e){
                $('#edit_subexpense_<%= subexpense.id %>').submit();
              });
            </script>                    
          <% end %> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "新規登録画面へ", :action => "index" %>