<h1>通貨</h1>

<table>
  <thead>
    <tr>
      <th>削除ボタン</th>
      <th>通貨</th>
      <th>換算方法</th>
    </tr>
  </thead>
  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td>(
        <%= link_to "削除" , currency , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
        )</td>
        <%= form_for(currency, url: currency_path(currency.id)) do |f| %>
          <td><%= f.text_field :name, readonly: true %></td>            
          <td><%= f.text_field :method, readonly: true %></td>
        <% end %>         
      </tr>
    <% end %>
    <%= form_for(@currency) do |f| %>
      <tr>
        <td></td>
        <td><%= f.select :name, ['米ドル', 'ユーロ', 'カナダ・ドル','英ポンド', 'スイス･フラン', 'デンマーク・クローネ','ノルウェー・クローネ', 'スウェーデン・クローネ', 'オーストラリア・ドル','ニュージーランド・ドル', '香港ドル', 'マレーシア・リンギット','シンガポール・ドル', 'サウジ・リアル', 'UAEディルハム','中国・人民元', 'タイ・バーツ', 'インド・ルピー','パキスタン・ルピー', 'クウェート・ディナール', 'カタール・リアル','インドネシア・ルピア', 'メキシコ・ペソ', '韓国ウォン','フィリピン・ペソ', '南アフリカ･ランド', 'チェコ・コルナ','ロシア・ルーブル', 'ハンガリー・フォリント', 'ポーランド・ズロチ ', 'トルコ・リラ'], { include_blank: '選択して下さい'} %></td>
        <td><%= f.select :method, ['外貨×為替レート', '外貨÷100×為替レート', '外貨÷為替レート×100'], { include_blank: '選択して下さい'} %></td>
        <td class = "btn btn-default" ><%= f.submit "登録"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  フォーマットはこちらからダウンロードしてください:
  <%= link_to "フォーマット出力", currencies_path(format: "csv"), class: "btn btn-primary" %>
</p>