<h1>通貨</h1>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="small">削除</th>
          <th class="order_num">通貨</th>
          <th class="order_num">換算方法</th>
          <th class="update">更新</th>          
        </tr>
      </thead>
      <tbody>
        <% @currencies.each do |currency| %>
          <tr>
            <td class="small"><%= link_to "削除" , currency , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
            <%= form_for(currency, url: currency_path(currency.id)) do |f| %>
              <td class="order_num"><%= f.text_field :name, readonly: true, :size=> "18"%></td>            
              <td class="order_num"><%= f.text_field :method, readonly: true, :size=> "18"%></td>
              <td class="update"><%= f.submit "更新", class: 'btn btn-default'%></td>  
            <% end %>         
          </tr>
        <% end %>
        <%= form_for(@currency) do |f| %>
          <tr>
            <td class="small"></td>
            <td class="order_num"><%= f.select :name, ['米ドル', 'ユーロ', 'カナダ・ドル','英ポンド', 'スイス･フラン', 'デンマーク・クローネ','ノルウェー・クローネ', 'スウェーデン・クローネ', 'オーストラリア・ドル','ニュージーランド・ドル', '香港ドル', 'マレーシア・リンギット','シンガポール・ドル', 'サウジ・リアル', 'UAEディルハム','中国・人民元', 'タイ・バーツ', 'インド・ルピー','パキスタン・ルピー', 'クウェート・ディナール', 'カタール・リアル','インドネシア・ルピア', 'メキシコ・ペソ', '韓国ウォン','フィリピン・ペソ', '南アフリカ･ランド', 'チェコ・コルナ','ロシア・ルーブル', 'ハンガリー・フォリント', 'ポーランド・ズロチ ', 'トルコ・リラ'], { include_blank: '選択して下さい'} %></td>
            <td class="order_num"><%= f.select :method, ['外貨×為替レート', '外貨÷100×為替レート', '外貨÷為替レート×100'], { include_blank: '選択して下さい'} %></td>
            <td class="update"><%= f.submit "登録", class: 'btn btn-default'%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>    
</div>

<p>
  フォーマットはこちらからダウンロードしてください:
  <%= link_to "フォーマット出力", currencies_path(format: "csv"), class: "btn btn-primary" %>
</p>