<!--Ajaxのrender用に切り出したフォーム-->
  <td><%= link_to "削除" , stock , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
  <%= form_for(stock, url: stock_path(stock.id), remote: true) do |f|  %>
    <td><%= stock.id %></td>
    <td><%= f.text_field :date %></td>
    <td><%= f.text_field :sku %></td>
    <td><%= f.text_field :asin %></td>
    <td><%= f.text_field :goods_name %></td>
    <td><%= f.number_field :number %></td>            

        <% ex_currency = Currency.find_by(name: stock.currency) %>
        <% if ex_currency.method == "外貨×為替レート" %>
    <td><%= f.text_field :unit_price %></td>
        <% sub_total = stock.number.to_i * BigDecimal(stock.unit_price.to_s).round(2) %>
    <td><%= sprintf("%.2f",sub_total) %></td>
        <% else %>
    <td><%= f.text_field :unit_price %></td>
        <% sub_total = stock.number.to_i * BigDecimal(stock.unit_price.to_s).round(0) %>
    <td><%= sprintf("%.0f",sub_total) %></td>
        <% end %>
      
    <td><%= stock.rate %></td>
    <td><%= sprintf("%.0f",stock.goods_amount) unless stock.goods_amount.nil? %></td>
    <td><%= f.text_field :money_paid %></td>
    <td><%= f.text_field :purchase_from %></td>             
    <td><%= f.text_field :currency%></td>
    <td class="hidden-lg hidden-md hidden-sm hidden-xs"><%= f.submit%></td>
  <% end %>
