<div class="panel panel-default">
  <div class="panel-heading">
    <h1>仕入台帳</h1>
  </div>
    
  <div class="panel-body">
    <h3>仕入データ取り込み</h3>
    <%= form_tag({action: 'upload'}, {multipart: true}) do %>
      <%= file_field :upload, :datafile %>
      <%= submit_tag "UPLOAD" %>
    <% end %>
    
    <%= search_form_for(@q, url: stocks_path) do |f| %>
      <%= f.label :sku_start, "SKUで検索" %>
      <%= f.search_field :sku_start %>
      <%= f.submit "検索" %>
      <%= f.label :asin_start, "ASINで検索" %>
      <%= f.search_field :asin_start %>
      <%= f.submit "検索" %>
    <% end %>
    
    <div class="container-fluid">
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-sm-1">削除ボタン</th>              
              <th class="col-sm-1">ID</th>
              <th class="col-sm-1">日付</th>
              <th class="col-sm-1">SKU</th>
              <th class="col-sm-1">ASIN</th>
              <th class="col-sm-1">商品名</th>
              <th class="col-sm-1">個数</th>
              <th class="col-sm-1">単価</th>
              <th class="col-sm-1">小計(外貨)</th>
              <th class="col-sm-1">為替レート</th>
              <th class="col-sm-1">小計(円貨)</th>
              <th class="col-sm-1">支払日</th>
              <th class="col-sm-1">購入先</th>
              <th class="col-sm-1">通貨</th>
            </tr>
          </thead>
          <tbody>
            <% @stocks.each do |stock| %>
              <!--Ajax用に固有のidを設定-->
              <tr id="stock-<%= stock.id %>">
                <!--Ajaxのrender用に部分テンプレートに切り出し-->
                <%= render 'form', stock: stock %>
              </tr>
            <% end %>
            <%= form_for(@stock) do |f| %>
              <tr>
                  <td></td>
                  <td></td>
                  <td><%= f.text_field :purchase_date %></td>            
                  <td><%= f.text_field :sku %></td>
                  <td><%= f.text_field :asin %></td>
                  <td><%= f.text_field :goods_name %></td>            
                  <td><%= f.text_field :number %></td>
                  <td><%= f.text_field :unit_price %></td>
                  <td></td>
                  <td></td>
                  <td></td>                  
                  <td><%= f.text_field :money_paid %></td>                  
                  <td><%= f.text_field :purchase_from %></td>            
                  <td><%= f.text_field :currency %></td>            
                  <td class="hidden-lg hidden-md hidden-sm hidden-xs"><%= f.submit %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<p>
  Download:
  <%= link_to "CSV形式でダウンロード", stocks_path(format: "csv") %>
</p>