<h1>仕入台帳</h1>

<h3>仕入データ取り込み</h3>
<%= form_tag({action: 'upload'}, {multipart: true}) do %>
  <%= file_field :upload, :datafile %>
  <%= submit_tag "UPLOAD" %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th class="col-sm-1">ID</th>
          <th class="col-sm-1">日付</th>
          <th class="col-sm-1">SKU</th>
          <th class="col-sm-1">ASIN</th>
          <th class="col-sm-1">商品名</th>
          <th class="col-sm-1">個数</th>
          <th class="col-sm-1">単価</th>
          <th class="col-sm-1">小計(外貨)</th>
          <th class="col-sm-1">為替レート</th>
          <th class="col-sm-1">小計(円貨)</th>
          <th class="col-sm-1">支払日</th>
          <th class="col-sm-1">購入先</th>
          <th class="col-sm-1">通貨</th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= stock.id %></td>
            <td><%= stock.purchase_date %></td>
            <td><%= stock.sku %></td>
            <td><%= stock.asin %></td>
            <td><%= stock.goods_name %></td>
            <td><%= stock.number %></td>
            
                <% ex_currency = Currency.find_by(name: stock.currency) %>
                <% if ex_currency.method == "外貨×為替レート"%>
            <td><%= sprintf("%.2f",stock.unit_price) %></td>
                <% sub_total = stock.number.to_i * BigDecimal(stock.unit_price.to_s).round(2) %>
            <td><%= sprintf("%.2f",sub_total) %></td>
                <% else %>
            <td><%= sprintf("%.0f",stock.unit_price) %></td>
                <% sub_total = stock.number.to_i * BigDecimal(stock.unit_price.to_s).round(0) %>
            <td><%= sprintf("%.0f",sub_total) %></td>
                <% end %>
                
            <td><%= stock.rate %></td>
            <td><%= sprintf("%.0f",stock.goods_amount) %></td>
            <td><%= stock.money_paid %></td>
            <td><%= stock.purchase_from %></td>
            <td><%= stock.currency %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>