    <tbody class="edit_listingreports">
      <% @listingreports = current_user.listingreports.where(id: (@listingreport.id..(@listingreport.id + 25))) %>
      <% @listingreports.each do |listingreport| %>
        <!--Ajax用に固有のidを設定-->
        <tr id="listingreport-<%= listingreport.id %>">
          <td class="large"><%= listingreport.sku %></td>
          <td class="asin"><%= listingreport.asin %></td>
          <td class="amount"><%= addcomma(listingreport.price.to_i) %></td>
          <td class="rate"><%= listingreport.quantity %></td>
          <td class="update" id="submit-<%= listingreport.id %>"><%= link_to "修正", edit_listingreport_path(listingreport), class: 'btn btn-default btn-xs'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>