<h1>出品レポート</h1>

<%= form_tag({action: 'upload'}, {multipart: true}) do %>
  <%= file_field :upload, :datafile%>
  <%= submit_tag "UPLOAD" %>
<% end %>

<table>
  <thead>
    <tr>
      <th class="small">ID</th>
      <th class="order_num">出品者SKU</th>
      <th class="asin">asin</th>
      <th class="amount">価格</th>
      <th class="rate">数量</th>
    </tr>
  </thead>
  <tbody>
    <% @listingreports.each do |listingreport| %>
      <tr>
        <th class="small"><%= listingreport.id %></th>
        <td class="order_num"><%= listingreport.sku %></td>
        <td class="asin"><%= listingreport.asin %></td>
        <td class="amount"><%= addcomma(listingreport.price.to_i) %></td>
        <td class="rate"><%= listingreport.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
