<h1>FBAからの返還商品登録</h1>

<div style="table-layout: fixed;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="small">削除</th>
        <th class="small">ID</th>
        <th class="account">日付</th>        
        <th class="order_num">注文番号</th>
        <th class="order_num">返還前ＳＫＵ</th>
        <th class="order_num">新ＳＫＵ</th>
        <th class="content">商品名</th>      
        <th class="rate">個数</th>      
      </tr>
    </thead>
    <tbody>
      <% @return_goods.each do |good| %>
        <tr>
          <td class="small"><%= link_to "削除" , good , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
          <%= form_for(good, url: return_good_path(good.id)) do |f| %>
            <td class="small"><%= f.text_field :id, readonly: true, :size=> "1" %></td>
            <td class="account"><%= f.text_field :date, :size => "8"%></td>     
            <td class="order_num"><%= f.text_field :order_num, readonly: true, :size => "18"%></td>
            <td class="order_num"><%= f.text_field :old_sku, :size => "18"%></td>
            <td class="order_num"><%= f.text_field :new_sku, :size => "18"%></td>
          <% stock_name = Stock.find_by(sku: good.old_sku) %>
            <td class="content"><%= stock_name.goods_name if stock_name.present?%></td>          
            <td class="rate"><%= f.text_field :number, :size => "2", :style=>"text-align:right"%></td>          
            <td class= "hidden-lg hidden-md hidden-sm hidden-xs"><%= f.submit %></td>
          <% end %> 
        </tr>
      <% end %>
      <%= form_for(@return_good) do |f| %>
        <tr>
            <td class="small"></td>
            <td width="55"></td>
            <td class="account"><%= f.text_field :date, :size => "8"%></td> 
            <td class="order_num"><%= f.text_field :order_num, :size => "18"%></td>            
            <td class="order_num"><%= f.text_field :old_sku, :size => "18"%></td>
            <td class="order_num"><%= f.text_field :new_sku, :size => "18"%></td>
            <td class="content"></td>
            <td class="rate"><%= f.text_field :number, :size => "2", :style=>"text-align:right"%></td>           
            <td class="hidden-lg hidden-md hidden-sm hidden-xs"><%= f.submit %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  Download:
  <%= link_to "CSV形式でダウンロード", return_goods_path(format: "csv") %>
</p>
