<h1>商品有高帳</h1>

<div class="container-fluid">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th class="col-sm-1">ID</th>
          <th class="col-sm-1">日付</th>
          <th class="col-sm-1">SKU</th>
          <th class="col-sm-1">ASIN</th>
          <th class="col-sm-1">商品名</th>
          <th class="col-sm-1">個数</th>
          <th class="col-sm-1">帳簿価額</th>
        </tr>
      </thead>
      <tbody>
        <% @stockledgers = Stockledger.all %>
        <% @stockledgers.each do |stockledger| %>
          <tr>
            <td><%= stockledger.id %></td>
            <td><%= stockledger.sold_date %></td>
            <td><%= stockledger.sku %></td>
            <td><%= stockledger.asin %></td>
            <td><%= stockledger.goods_name %></td>
            <td><%= stockledger.number %></td>
                <% bookvalue = stockledger.grandtotal %>
            <td><%= sprintf("%.0f",bookvalue) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>