<%= render 'layouts/dropdown' %>
<div class="panel panel-default">
	<div class="panel-heading">
	  商品有高帳
	</div>
  <div class="panel-body">
    <%= search_form_for(@q, url: stockledgers_path) do |f| %>
      <%= f.label :sku_eq, "SKUで検索" %>
      <%= f.search_field :sku_eq %>
    <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %>      
    <%= search_form_for(@q, url: stockledgers_path) do |f| %>
      <%= f.label :asin_cont, "ASINで検索" %>
      <%= f.search_field :asin_cont %>
    <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %>
  </div> 
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th class="middle">仕入ID</th>          
        <th class="account">日付</th>
        <th class="order_num">SKU</th>
        <th class="asin">ASIN</th>
        <th class="content">商品名</th>
        <th class="middle">分類</th>          
        <th class="rate">数量</th>
        <th class="amount">単価</th>          
        <th class="amount">金額</th>
      </tr>
    </thead>
    <tbody class="stockledgers">
      <% @stockledgers.each do |stockledger| %>
      <tr>
        <td class="middle"><%= stockledger.stock_id %></td>            
        <td class="account"><%= stockledger.transaction_date %></td>
        <td class="order_num"><%= stockledger.sku %></td>
        <td class="asin"><%= stockledger.asin %></td>
        <td class="content"><%= stockledger.goods_name %></td>
        <td class="middle"><%= stockledger.classification %></td>            
        <td class="rate"><%= stockledger.number %></td>
            <% unitvalue = stockledger.unit_price %>
        <td class="amount"><%= addcomma(unitvalue.to_i) %></td>            
            <% totalvalue = stockledger.grandtotal %>
        <td class="amount"><%= addcomma(totalvalue.to_i) %></td>
      </tr>
      <% end %>
      <tr>
        <td class="middle"></td>
        <td class="account"></td>
        <td class="order_num"></td>
        <td class="asin"></td>
        <td class="content"></td>
        <td class="middle">個数</td>
            <% total_umit = @stockledgers.group(:id, :number).sum(:number).values.inject(:+) %>          
        <td class="rate"><%= addcomma(total_umit.to_i) %></td>
        <td class="amount">合計額</td>
            <% total_amount = @stockledgers.group(:id, :grandtotal).sum(:grandtotal).values.inject(:+) %>            
        <td class="amount"><%= addcomma(total_amount.to_i) %></td>
      </tr>
    </tbody>
  </table>
  <%= paginate @stockledgers %>
</div>