<h1>商品有高帳</h1>

<%= search_form_for(@q, url: stockledgers_path) do |f| %>
  <%= f.label :sku_cont, "SKUで検索" %>
  <%= f.search_field :sku_cont %>
<%= f.submit %>
<% end %>

<%= search_form_for(@q, url: stockledgers_path) do |f| %>
  <%= f.label :asin_cont, "ASINで検索" %>
  <%= f.search_field :asin_cont %>
<%= f.submit %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <table>
      <thead>
        <tr>
          <th class="col-sm-1">ID</th>
          <th class="col-sm-1">日付</th>
          <th class="col-sm-1">SKU</th>
          <th class="col-sm-1">ASIN</th>
          <th class="col-sm-1">商品名</th>
          <th class="col-sm-1">分類</th>          
          <th class="col-sm-1">数量</th>
          <th class="col-sm-1">単価</th>          
          <th class="col-sm-1">金額</th>
        </tr>
      </thead>
      <tbody>
        <% @stockledgers.each do |stockledger| %>
          <tr>
            <td><%= stockledger.id %></td>
            <td><%= stockledger.transaction_date %></td>
            <td><%= stockledger.sku %></td>
            <td><%= stockledger.asin %></td>
            <td><%= stockledger.goods_name %></td>
            <td><%= stockledger.classification %></td>            
            <td><%= stockledger.number %></td>
                <% unitvalue = stockledger.unit_price %>
            <td><%= sprintf("%.0f",unitvalue) %></td>            
                <% totalvalue = stockledger.grandtotal %>
            <td><%= sprintf("%.0f",totalvalue) %></td>
          </tr>
        <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>合計</td>            
            <td><%= @stockledgers.sum(:number) %></td>
            <td></td>            
            <td><%= @stockledgers.sum(:grandtotal) %></td>
          </tr>        
      </tbody>
      <%= paginate @stockledgers %>
    </table>
  </div>
</div>

<p>
  Download:
  <%= link_to "CSV形式でダウンロード", stockledgers_path(format: "csv") %>
</p>