<h1>在庫台帳</h1>

<div class="container-fluid">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-sm-1">日付</th>
          <th class="col-sm-1">SKU</th>
          <th class="col-sm-1">ASIN</th>
          <th class="col-sm-1">商品名</th>
          <th class="col-sm-1">数量</th>
          <th class="col-sm-1">単価</th>          
          <th class="col-sm-1">金額</th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
          <% if stock.stockledgers.sum(:grandtotal) != 0 %>          
            <td><%= stock.date %></td>
            <td><%= stock.sku %></td>
            <td><%= stock.asin %></td>
            <td><%= stock.goods_name %></td>
                <% count = stock.stockledgers.sum(:number) %>
            <td><%= sprintf("%.0f",count) %></td>
                <% unit_value = stock.unit_price * stock.rate %>
            <td><%= sprintf("%.0f",unit_value) %></td>            
                <% total_value = stock.stockledgers.sum(:grandtotal) %>
            <td><%= sprintf("%.0f",total_value) %></td>
          <% end %> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>