<div class="panel panel-default">
	<div class="panel-heading">
	  仕訳帳
  </div>
  <div class="panel-body">
    <%= search_form_for(@q, url: generalledgers_path, method: "get") do |f| %>     
      <%= f.label :content_cont, "摘要で検索" %>
      <%= f.search_field :content_cont, placeholder: "部分一致"%>
      <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
    <% end %>
    <%= search_form_for(@q, url: generalledgers_path, html: {class: 'date_form'}, method: "get") do |f| %>
      <%= f.label :date, "日付で検索"%>
      <%= f.date_select :date_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control generalledger_form" %>〜
      <%= f.date_select :date_lteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control generalledger_form" %>
      <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
    <% end %>    
  </div> 
</div>