<h1>総勘定元帳</h1>

<div class="container-fluid">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="small">削除</th>           
        <th class="small">ID</th>
        <th class="account">日付</th>
        <th class="account">借方勘定科目</th>
        <th class="large">借方補助科目</th>
        <th class="middle">借方<br>税コード</th>
        <th class="account">貸方勘定科目</th>
        <th class="large">貸方補助科目</th>
        <th class="middle">貸方<br>税コード</th>
        <th class="amount">金額</th>
        <th class="content">摘要</th>
        <th class="company">取引先</th>
        <th class="company">備考</th>
      </tr>
    </thead>
    <tbody>
      <% @generalledgers = Generalledger.all.page(params[:page]) %>
      <% @generalledgers.each do |generalledger| %>
        <tr>
          <td class="small"><%= link_to "削除" , generalledger , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
          <td class="small"><%= generalledger.id %></td>
          <td class="account"><%= generalledger.date %></td>
          <td class="account"><%= generalledger.debit_account %></td>
          <td class="large"><%= generalledger.debit_subaccount %></td>              
          <td class="middle"><%= generalledger.debit_taxcode %></td>              
          <td class="account"><%= generalledger.credit_account %></td>              
          <td class="large"><%= generalledger.credit_subaccount %></td>              
          <td class="middle"><%= generalledger.credit_taxcode %></td>
          <td class="amount"><%= addcomma(generalledger.amount.to_i) %></td>              
          <td class="content"><%= generalledger.content %></td>
          <td class="company"><%= generalledger.trade_company %></td>
          <td class="company"><%= generalledger.reference %></td>
        </tr>
      <% end %>
    </tbody>
    <%= paginate @generalledgers %>
  </table>
</div>