<div class="panel panel-default">
	<div class="panel-heading">
    単価計算表
	</div>
  <div class="panel-body">
    <%= search_form_for(@q, url: allocationcosts_path) do |f| %>
      <%= f.label :sku_eq, "SKUで検索" %>
      <%= f.search_field :sku_eq %>
      <%= f.submit "検索", class: 'btn btn-default' %>
    <% end %>
    <%= search_form_for(@q, url: allocationcosts_path) do |f| %>
      <%= f.label :asin_cont, "ASINで検索" %>
      <%= f.search_field :asin_cont %>
      <%= f.submit "検索", class: 'btn btn-default' %>
    <% end %>
    <%= search_form_for(@q, url: allocationcosts_path) do |f| %>
      <%= f.label :goods_name_cont, "商品名で検索" %>
      <%= f.search_field :goods_name_cont %>
      <%= f.submit "検索", class: 'btn btn-default' %>
    <% end %>
  </div> 
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th class="rate">仕入ID</th>
        <th class="account">日付</th>
        <th class="order_num">SKU</th>
        <th class="asin">ASIN</th>
        <th class="content">商品名</th>
        <th class="rate">個数</th>
        <th class="amount">小計</th>
          <% @expense_titles = current_user.expense_titles.all.sort_by{ |o| o.id } %>
          <% @expense_titles.each do |e| %>
        <th class="amount"><%= e.item %></th>
          <% end %>
        <th class="amount">合計金額</th>
      </tr>
    </thead>
    <tbody class="stocks">
      <% @stocks.each do |stock| %>
        <tr>
          <td class="rate"><%= stock.id %></td>            
          <td class="account"><%= stock.date %></td>
          <td class="order_num"><%= stock.sku %></td>
          <td class="asin"><%= stock.asin %></td>
          <td class="content"><%= stock.goods_name %></td>
          <td class="rate"><%= addcomma(stock.number) %></td>
          <td class="amount"><%= addcomma(stock.goods_amount) %></td>
              <% count_title = @expense_titles.count %>
              <% 0.upto(count_title-1) do |i| %>
                  <% subexpense_title = @expense_titles[i] %>
                  <% @alloc = stock.allocationcosts.find_by(title: subexpense_title.item) %>
                  <% if @alloc.present? %>
                    <td class="amount"><%= addcomma(@alloc.allocation_amount) %></td>
                  <% else %>
                    <td class="amount"><%= nil %></td>
                  <% end %>
              <% end %>  
          <td class="amount"><%= addcomma(stock.grandtotal) if stock.grandtotal.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @stocks %>  
</div>

