<h1>単価計算表</h1>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="account">日付</th>
          <th class="order_num">SKU</th>
          <th class="asin">ASIN</th>
          <th class="content">商品名</th>
          <th class="rate">個数</th>
          <th class="amount">小計</th>
            <% @expense_titles = ExpenseTitle.all.sort_by{ |o| o.id } %>
            <% @expense_titles.each do |e| %>
          <th class="amount"><%= e.item %></th>
            <% end %>
          <th class="amount">合計金額</th>
        </tr>
      </thead>
      <tbody>
        <% @stocks = Stock.all.order(:date).page(params[:page]) %>
        <% @stocks.each do |stock| %>
          <tr>
            <td class="account"><%= stock.date %></td>
            <td class="order_num"><%= stock.sku %></td>
            <td class="asin"><%= stock.asin %></td>
            <td class="content"><%= stock.goods_name %></td>
            <td class="rate"><%= addcomma(stock.number) %></td>
            <td class="amount"><%= addcomma(stock.goods_amount) %></td>
                <% count_title = @expense_titles.count %>
                <% 0.upto(count_title-1) do |i| %>
                    <% subexpense_title = @expense_titles[i] %>
                    <% @alloc = stock.allocationcosts.find_by(title: subexpense_title.item) %>
                    <% if @alloc.present? %>
                      <td class="amount"><%= addcomma(@alloc.allocation_amount) %></td>
                    <% else %>
                      <td class="amount"><%= nil %></td>
                    <% end %>
                <% end %>  
            <td class="amount"><%= addcomma(stock.grandtotal) if stock.grandtotal.present? %></td>
          </tr>
        <% end %>
      </tbody>
      <%= paginate @stocks %>
    </table>
  </div>
</div>

<p>
  BackUp:
  <%= link_to "ダウンロード", allocationcosts_path(format: "csv") %>
</p>