<h1>損益管理シート/パターン登録</h1>

<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="order_num">SKU</th>
        <th class="order_num">トランザクションの種類</th>
        <th class="detail">支払いの種類</th>
        <th class="detail">支払いの詳細</th>
        <th class="account">処理</th>
      </tr>
    </thead>
    <tbody>
      <% @entrypatterns.each do |entrypattern| %>
        <tr>
        <%= form_for(entrypattern, url: entrypattern_path(entrypattern)) do |f|  %>
          <td class="order_num"><%= f.text_field :sku %></td>
          <td class="order_num"><%= f.text_field :kind_of_transaction %></td>
          <td class="detail"><%= f.text_field :kind_of_payment %></td>
          <td class="detail"><%= f.text_field :detail_of_payment %></td>
          <td class="account"><%= f.text_field :handling %></td>
          <td class="hidden-lg hidden-md hidden-sm hidden-xs"><%= f.submit %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
