<h1>損益管理シート/パターン登録</h1>

<table>
  <thead>
    <tr>
      <th width="50">ID</th>
      <th width="100">SKU</th>
      <th width="100">トランザクションの種類</th>
      <th width="100">支払いの種類</th>
      <th width="100">支払いの詳細</th>
      <th width="100">処理</th>
    </tr>
  </thead>
  <tbody>
    <% @entrypatterns.each do |entrypattern| %>
      <tr>
        <th><%= entrypattern.id %></th>
        <td><%= entrypattern.sku %></td>
        <td><%= entrypattern.kind_of_transaction %></td>
        <td><%= entrypattern.kind_of_payment %></td>
        <td><%= entrypattern.detail_of_payment %></td>
        <td><%= entrypattern.handling %></td>
      </tr>
    <% end %>
  </tbody>
</table>
