    <tbody class="vouchers">
      <% @yahoo_shoppings.each do |yahoo_shopping|  %>
        <!--Ajax用に固有のidを設定-->      
        <tr id="yahoo_shopping-<%= yahoo_shopping.id %>">
          <%= form_for(yahoo_shopping, url: yahoo_shopping_path(yahoo_shopping.id), remote: true) do |f| %>
            <td class="update" id="check-<%= yahoo_shopping.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>      
            <td class="account"><%= yahoo_shopping.date %></td>          
            <td class="order_num"><%= yahoo_shopping.order_id %></td>
            <td class="large"><%= yahoo_shopping.sku %></td>
            <td class="content"><%= yahoo_shopping.goods_name %></td>
            <td class="amount"><%= yahoo_shopping.unit_price %></td>            
            <td class="rate"><%= yahoo_shopping.number %></td>              
            <td class="amount"><%= addcomma(yahoo_shopping.sales_amount.to_i) %></td>
            <td class="amount"><%= addcomma(yahoo_shopping.cogs_amount.to_i) %></td>
            <td class="amount"><%= addcomma(yahoo_shopping.commission.to_i) %></td>            
            <td class="amount"><%= addcomma(yahoo_shopping.shipping_cost.to_i) %></td>
            <% profit = yahoo_shopping.sales_amount.to_i - yahoo_shopping.commission.to_i - yahoo_shopping.cogs_amount.to_i - yahoo_shopping.shipping_cost.to_i %>
            <td class="amount" style="text-align:right"><%= addcomma(profit)%></td>
            <td class="account"><%= yahoo_shopping.money_receipt_date %></td>
            <td class="account"><%= yahoo_shopping.shipping_pay_date %></td>         
            <td class="update" id="submit-<%= yahoo_shopping.id %>"><%= link_to "更新", edit_yahoo_shopping_path(yahoo_shopping), class: 'btn btn-default btn-sm'%></td>
            
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= yahoo_shopping.id %>").change(function(e){
                $('#edit_yahoo_shopping_<%= yahoo_shopping.id %>').submit();
              });
            </script>
          <% end %>
        </tr>
      <% end %>
        <tr>
          <td class="update"></td>            
          <td class="account"></td>
          <td class="order_num"></td>
          <td class="large"></td>
          <td class="content" style="text-align:right"></td> 
          <td class="amount">合計</td>
            <% total_number = @yahoo_shoppings.group(:id, :number).sum(:number).values.inject(:+) %> 
          <td class="rate"><%= addcomma(total_number.to_i) %></td>
            <% total_sales_amount = @yahoo_shoppings.group(:id, :sales_amount).sum(:sales_amount).values.inject(:+) %>        
          <td class="amount"><%= addcomma(total_sales_amount.to_i) %></td>
            <% total_cgs_amount = @yahoo_shoppings.group(:id, :cogs_amount).sum(:cogs_amount).values.inject(:+) %>            
          <td class="amount"><%= addcomma(total_cgs_amount.to_i) %></td>
            <% total_commission = @yahoo_shoppings.group(:id, :commission).sum(:commission).values.inject(:+) %>            
          <td class="amount"><%= addcomma(total_commission.to_i) %></td>
            <% total_shipping_cost = @yahoo_shoppings.group(:id, :shipping_cost).sum(:shipping_cost).values.inject(:+) %>            
          <td class="amount"><%= addcomma(total_shipping_cost.to_i) %></td>
            <% total_profit = total_sales_amount.to_i - total_cgs_amount.to_i -  total_commission.to_i - total_shipping_cost.to_i %>
          <td class="amount"><%= addcomma(total_profit.to_i) %></td>   
          <td class="account"></td>
          <td class="account"></td>
          <td class="update"></td>
        </tr>
    </tbody>
  </table>
  <%= paginate @yahoo_shoppings %>
</div>