      <tbody class="rakutens">
        <% @yahoo_shoppings.each do |yahoo_shopping|  %>
          <!--Ajax用に固有のidを設定-->
          <tr id="yahoo_shopping-<%= yahoo_shopping.id %>">
            <%= form_for(yahoo_shopping, url: yahoo_shopping_path(yahoo_shopping.id), remote: true) do |f| %>
              <td class="update" id="check-<%= yahoo_shopping.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>      
              <td class="account"><%= yahoo_shopping.date %></td>          
              <td class="order_num"><%= yahoo_shopping.order_id %></td>
              <td class="large"><%= yahoo_shopping.sku %></td>
              <td class="content"><%= yahoo_shopping.goods_name %></td>
              <td class="amount"><%= yahoo_shopping.unit_price %></td>            
              <td class="rate"><%= yahoo_shopping.number %></td>              
              <td class="amount"><%= addcomma(yahoo_shopping.sales_amount.to_i) %></td>
              <td class="amount"><%= addcomma(yahoo_shopping.cogs_amount.to_i) %></td>
              <td class="amount"><%= addcomma(yahoo_shopping.commission.to_i) %></td>            
              <td class="amount"><%= addcomma(yahoo_shopping.shipping_cost.to_i) %></td>
              <% profit = yahoo_shopping.sales_amount.to_i - yahoo_shopping.commission.to_i - yahoo_shopping.cogs_amount.to_i - yahoo_shopping.shipping_cost.to_i %>
              <td class="amount" style="text-align:right"><%= addcomma(profit)%></td>
              <td class="account"><%= yahoo_shopping.money_receipt_date %></td>
              <td class="account"><%= yahoo_shopping.shipping_pay_date %></td>         
              <td class="update" id="submit-<%= yahoo_shopping.id %>"><%= link_to "更新", edit_yahoo_shopping_path(yahoo_shopping), class: 'btn btn-default btn-sm'%></td>
              
              <!--チェックボックス更新用JQuery-->
              <script>
                $("#check-<%= yahoo_shopping.id %>").change(function(e){
                  $('#edit_yahoo_shopping_<%= yahoo_shopping.id %>').submit();
                });
              </script>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @yahoo_shoppings %>
</div>