<div class="panel panel-default" id="edit-default">
	<div class="panel-heading">
	  在庫受領レポート(一覧画面)
	</div>
  <div class="panel-body"> 
    <%= search_form_for(@q, url: stockaccepts_path) do |f| %>
      <%= f.label :sku_eq, "出品者SKUで検索" %>
      <%= f.search_field :sku_eq, placeholder: "完全一致"%>
      <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %>
    <%= search_form_for(@q, url: stockaccepts_path) do |f| %>
      <%= f.label :goods_name_cont, "商品名で検索" %>
      <%= f.search_field :goods_name_cont, placeholder: "部分一致"%>
      <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %> 
    <%= search_form_for(@q, url: stockaccepts_path) do |f| %>  
      <%= f.label :asin_eq, "ASINで検索" %>
      <%= f.search_field :asin_eq, placeholder: "完全一致"%>
      <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %>
    <%= search_form_for(@q, url: stockreturns_path, html: {class: 'date_form'}) do |f| %>           
      <%= f.label :date, "日付で検索"%>
      <%= f.date_select :date_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>〜
      <%= f.date_select :date_lteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>
      <%= f.submit "検索", class: 'btn btn-default  btn-sm' %>            
    <% end %>
    <br>
    <%= form_tag({action: 'upload'}, {multipart: true, class: "form_tag_rakuten"}) do %>
      <label>CSVデータの取り込み:</label>
      <%= file_field :upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false%>
      <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm'%>
    <% end %>   
  </div>
</div>