<h1>在庫受領レポート</h1>

<%= form_tag({action: 'upload'}, {multipart: true}) do %>
  <%= file_field :upload, :datafile%>
  <%= submit_tag "UPLOAD" %>
<% end %>

<%= search_form_for(@q, url: stockaccepts_path) do |f| %>
  <%= f.label :sku_start, "出品者SKUで検索" %>
  <%= f.search_field :sku_start %>
  <%= f.submit "検索" %>
  <%= f.label :asin_start, "ASINで検索" %>
  <%= f.search_field :asin_start %>
  <%= f.submit "検索" %>
<% end %>

<table>
  <thead>
    <tr>
      <th class="small">ID</th>
      <th class="account">日付</th>
      <th class="order_num">FNSKU</th>
      <th class="order_num">出品者SKU</th>
      <th class="content">商品名</th>
      <th class="rate">数量</th>
      <th>　</th>
      <th class="order_num">FBA納品番号</th>
      <th class="rate">FC</th>
      <th>　</th>      
      <th class="asin">ASIN</th>      
    </tr>
  </thead>
  <tbody>
    <% @stockaccepts.each do |stockaccept| %>
      <tr>
        <th class="small"><%= stockaccept.id %></th>
        <td class="account"><%= stockaccept.date %></td>
        <td class="order_num"><%= stockaccept.fnsku %></td>
        <td class="order_num"><%= stockaccept.sku %></td>
        <td class="content"><%= stockaccept.goods_name %></td>
        <td class="rate"><%= stockaccept.quantity %></td>
        <td>　</td>
        <td class="order_num"><%= stockaccept.fba_number %></td>
        <td class="rate"><%= stockaccept.fc %></td>
        <td>　</td>        
        <td class="asin"><%= stockaccept.asin %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

