<div class="panel panel-default" id='edit-default'>
	<div class="panel-heading">
	  ダミー計上商品(修正画面)
	  <%= link_to "一覧画面へ", dummy_stocks_path, class: 'btn btn-default btn-sm'%>
	  <%= link_to "新規登録画面へ", new_dummy_stock_path, class: 'btn btn-default btn-sm'%>
	</div>
  <div class="panel-body" id='new-body'>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>  
          <th class="middle">仕入ID</th>          
          <th class="account">販売日</th>
          <th class="account">キャンセル日</th>        
          <th class="rate">数量</th>         
          <th class="update"></th>      
        </tr>
      </thead>
      <%= form_for(@dummy_stock, url: dummy_stock_path(@dummy_stock)) do |f|  %>
        <tbody class="footer">  
          <td class="number"><%= f.text_field :stock_id, :size => "4"%></td> 
          <td class="account"><%= f.text_field :sale_date, :size => "7"%></td>
          <td class="account"><%= f.text_field :cancel_date, :size => "7" %></td>             
          <td class="rate"><%= f.text_field :number, :size => "2", :style=>"text-align:right"%></td>     
          <td class="update" id="submit-<%= @dummy_stock.id %>"><%= f.submit "更新", class: 'btn btn-default btn-xs'%></td>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
