<div class="panel panel-default">
	<div class="panel-heading">
	  廃棄商品台帳(一覧画面)
	  <%= link_to "新規登録画面へ", new_disposal_path, class: 'btn btn-default btn-xs'%>
	</div>
  <div class="panel-body">
    <%= search_form_for(@q, url: disposals_path) do |f| %>
      <%= f.label :sku_eq, "ＳＫＵで検索" %>
      <%= f.search_field :sku_eq %>
      <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %>
  </div>
</div>