<h1>廃棄商品</h1>

<%= search_form_for(@q, url: disposals_path) do |f| %>
  <%= f.label :sku_eq, "ＳＫＵで検索" %>
  <%= f.search_field :sku_eq %>
  <%= f.submit "検索" %>
<% end %>

<div style="table-layout: fixed;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="update"><a href= ./disposals/destroy class="btn btn-default">削除</th>
        <th class="middle">仕入ID</th>
        <th class="account">日付</th>        
        <th class="order_num">注文番号</th>
        <th class="order_num">ＳＫＵ</th>
        <th class="content">商品名</th>      
        <th class="rate">個数</th>      
      </tr>
    </thead>
    <tbody>
      <% @disposals.each do |disposal| %>
        <tr>
          <%= form_for(disposal, url: disposal_path(disposal.id), remote: true) do |f| %>
            <td class="update" id="check-<%= disposal.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>
            <td class="middle"><%= f.text_field :stock_id, readonly: true, :size=> "4", :style=>"text-align:right"%></td>
            <td class="account"><%= f.text_field :date, :size => "8"%></td>     
            <td class="order_num"><%= f.text_field :order_num, readonly: true, :size => "18"%></td>
            <td class="order_num"><%= f.text_field :sku, :size => "18"%></td>
            
          <% stock_name = Stock.find_by(sku: disposal.sku) %>
          <% return_good = ReturnGood.find_by(new_sku: disposal.sku) %>
          <% if stock_name.present? %>
            <td class="content"><%= stock_name.goods_name %></td>
          <% elsif return_good.present?%>
          <% stock_name = Stock.find_by(sku: return_good.old_sku) %>          
            <td class="content"><%= stock_name.goods_name %></td>
          <% end %>
          
            <td class="rate"><%= f.text_field :number, :size => "2", :style=>"text-align:right"%></td>          
            <td class="update" id="submit-<%= disposal.id %>"><%= f.submit "更新", class: 'btn btn-default'%></td>
              
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= disposal.id %>").change(function(e){
                $('#edit_disposal_<%= disposal.id %>').submit();
              });
            </script>                    
            <% end %> 
        </tr>
      <% end %>
      <%= form_for(@disposal) do |f| %>
        <tr>
            <td class="update"></td>
            <td class="middle"></td>
            <td class="account"><%= f.text_field :date, :size => "8"%></td> 
            <td class="order_num"><%= f.text_field :order_num, :size => "18"%></td>            
            <td class="order_num"><%= f.text_field :sku, :size => "18"%></td>
            <td class="content"></td>
            <td class="rate"><%= f.text_field :number, :size => "2", :style=>"text-align:right"%></td>           
            <td class="update"><%= f.submit "登録", class: 'btn btn-default' %></td>
        </tr>
      <% end %>
    </tbody>
    <%= paginate @disposals %>
  </table>
</div>

<p>
  Download:
  <%= link_to "CSV形式でダウンロード", disposals_path(format: "csv") %>
</p>
