<% content_for :head do %> 
  <div class="panel_container">
    <div class="panel panel-default">
    	<div class="panel-heading">
        廃棄商品
    	</div>
      <div class="panel-body">
        <%= search_form_for(@q, url: disposals_path) do |f| %>
          <%= f.label :sku_eq, "ＳＫＵで検索" %>
          <%= f.search_field :sku_eq %>
          <%= f.submit "検索" %>
        <% end %>
      </div> 
    </div>
  </div>
  <table class="table table-striped table-bordered table-condensed" style="margin: 0px;">
    <thead>
      <tr>
        <th class="update"><a href= ./disposals/destroy class="btn btn-default btn-sm">削除</th>
        <th class="number">仕入ID</th>
        <th class="account">日付</th>        
        <th class="order_num">注文番号</th>
        <th class="order_num">ＳＫＵ</th>
        <th class="content">商品名</th>      
        <th class="number">個数</th>
        <th class="update">更新</th>         
      </tr>
    </thead>
<% end %>
    <tbody>
      <% @disposals.each do |disposal| %>
        <tr>
          <%= form_for(disposal, url: disposal_path(disposal.id), remote: true) do |f| %>
            <td class="update" id="check-<%= disposal.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>
            <td class="number"><%= f.text_field :stock_id, readonly: true, :size=> "4", :style=>"text-align:right"%></td>
            <td class="account"><%= f.text_field :date, :size => "8"%></td>     
            <td class="order_num"><%= f.text_field :order_num, readonly: true, :size => "16"%></td>
            <td class="order_num"><%= f.text_field :sku, :size => "16"%></td>
            
          <% stock_name = Stock.find_by(sku: disposal.sku) %>
          <% return_good = ReturnGood.find_by(new_sku: disposal.sku) %>
          <% if stock_name.present? %>
            <td class="content"><%= stock_name.goods_name %></td>
          <% elsif return_good.present?%>
          <% stock_name = Stock.find_by(sku: return_good.old_sku) %>          
            <td class="content"><%= stock_name.goods_name %></td>
          <% else %>
            <td class="content"></td>
          <% end %>
          
            <td class="number"><%= f.text_field :number, :size => "2", :style=>"text-align:right"%></td>          
            <td class="update" id="submit-<%= disposal.id %>"><%= f.submit "更新", class: 'btn btn-default btn-sm'%></td>
              
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= disposal.id %>").change(function(e){
                $('#edit_disposal_<%= disposal.id %>').submit();
              });
            </script>                    
            <% end %> 
        </tr>
      <% end %>
    </tbody>
<% content_for :foot do %> 
    <tbody class="footer">
      <%= form_for(@disposal) do |f| %>
        <tr>
            <td class="update"></td>
            <td class="number"></td>
            <td class="account"><%= f.text_field :date, :size => "8"%></td> 
            <td class="order_num"><%= f.text_field :order_num, :size => "16"%></td>            
            <td class="order_num"><%= f.text_field :sku, :size => "16"%></td>
            <td class="content"></td>
            <td class="number"><%= f.text_field :number, :size => "2", :style=>"text-align:right"%></td>           
            <td class="update"><%= f.submit "登録", class: 'btn btn-default btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @disposals %>
  
  <p>
    Download:
    <%= link_to "CSV形式でダウンロード", disposals_path(format: "csv") %>
  </p>
<% end %>