<div class="panel panel-default">
	<div class="panel-heading">
	  損益管理シート(一覧画面)
	  <%= link_to "新規登録画面へ", new_pladmin_path, class: 'btn btn-default btn-xs'%>
	</div>
  <div class="panel-body">
    <%= search_form_for(@q, url: pladmins_path) do |f| %>   
      <%= f.label :order_num_cont, "注文番号で検索" %>
      <%= f.search_field :order_num_cont, placeholder: "部分一致"%>
      <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
    <% end %>
    <%= search_form_for(@q, url: pladmins_path) do |f| %>   
      <%= f.label :sku_eq, "SKUで検索" %>
      <%= f.search_field :sku_eq, placeholder: "完全一致"%>
      <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
    <% end %>
    <%= search_form_for(@q, url: pladmins_path) do |f| %>          
      <%= f.label :goods_name_cont, "商品名で検索" %>
      <%= f.search_field :goods_name_cont, placeholder: "部分一致"%>
      <%= f.submit "検索", class: 'btn btn-default btn-xs' %>
    <% end %>
    <%= search_form_for(@q, url: pladmins_path, html: {class: 'date_form'}) do |f| %>           
      <%= f.label :date, "日付で検索"%>
      <%= f.date_select :date_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>〜
      <%= f.date_select :date_lteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control pladmin_form" %>
      <%= f.submit "検索", class: 'btn btn-default btn-xs' %>            
    <% end %>
  </div>
</div>