<% content_for :head do %> 
  <div class="panel_container">
    <div class="panel panel-default">
    	<div class="panel-heading">
        損益管理シート
    	</div>
      <div class="panel-body">
        <div class="row form-inline">      
          <%= search_form_for(@q, url: pladmins_path) do |f| %>
            <div class="row; form-inline;">
              <div class="col-sm-3">          
                <%= f.label :sku_eq, "SKUで検索" %>
                <%= f.search_field :sku_eq, placeholder: "完全一致"%>
              </div>
              <div class="col-sm-3">
                <%= f.label :goods_name_cont, "商品名で検索" %>
                <%= f.search_field :goods_name_cont, placeholder: "部分一致"%>
              </div> 
            </div>
            <div class="col-sm-6">
              <div class="form-inline">
                <%= f.label :date, "日付で検索"%>
                <%= f.date_select :date_gteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control" %>〜
                <%= f.date_select :date_lteq, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control" %>
              </div>  
            </div>
            <div>
              <div class="col-sm-3">          
                <%= f.submit "検索", class: 'btn btn-default' %>
                <%= link_to "クリア", request.path, class: 'btn btn-default' %>
              </div>
            </div>
          <% end %>
          <div style="display: inline-block">
            <div class="col-sm-6"> 
              <p>損益データ取り込み:</p>
            </div>            
            <%= form_tag({action: 'upload'}, {multipart: true}) do %>
            <div class="col-sm-4"> 
                <%= file_field :upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false %>
            </div>
            <div class="col-sm-2">             
                <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm' %>
             </div>   
            <% end %>
          </div>
        </div>  
      </div> 
    </div>  

  <div class="table-responsive">  
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th class="update"><a href= ./pladmins/destroy class="btn btn-default btn-sm">削除</th>
          <th class="middle">仕入ID</th>            
          <th class="account">日付</th>      
          <th class="order_num">注文番号</th>
          <th class="order_num">SKU</th>
          <th class="content">商品名</th>
          <th class="rate">個数</th>            
          <th class="company">売上先</th>      
          <th class="amount">売上高</th>
          <th class="amount">原価</th>
          <th class="amount">手数料</th>
          <th class="amount">送料</th>    
          <th class="amount">利益</th> 
          <th class="account">入金日</th>
          <th class="account">手数料支払日</th>
          <th class="account">送料支払日</th>
          <th class="update"></th>          
        </tr>
      </thead>
<% end %>
      <tbody class="expenseledgers">
        <% @pladmins.each do |pladmin|  %>
        <tr>
          <%= form_for(pladmin, url: pladmin_path(pladmin.id), remote: true) do |f| %>
            <td class="update" id="check-<%= pladmin.id %>"><%= f.check_box :destroy_check, {}, "true", "false" %></td>
            <td class="middle"><%= pladmin.stock_id %></td>
            <td class="account"><%= f.text_field :date, :size => 8 %></td>          
            <td class="order_num"><%= f.text_field :order_num, :size => 18 %></td>
            <td class="order_num"><%= f.text_field :sku, :size => 18 %></td>
            <td class="content"><%= f.text_field :goods_name, :size => 42 %></td>
            <td class="rate"><%= f.text_field :quantity, :size => 1, :style=>"text-align:right"%></td>            
            <td class="company"><%= f.text_field :sale_place, :size => 8 %></td>        
            <td class="amount"><%= f.text_field :sale_amount, :size => 8, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="amount"><%= addcomma(pladmin.cgs_amount.to_i) %></td>
            <td class="amount"><%= f.text_field :commission, :size => 8, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <td class="amount"><%= f.text_field :shipping_cost, :size => 8, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
            <% profit = pladmin.sale_amount.to_i - pladmin.commission.to_i - pladmin.cgs_amount.to_i - pladmin.shipping_cost.to_i %>
            <td class="amount" style="text-align:right"><%= addcomma(profit)%></td>
            <td class="account"><%= f.text_field :money_receive, :size => 8 %></td>
            <td class="account"><%= f.text_field :commission_pay_date, :size => 8 %></td>        
            <td class="account"><%= f.text_field :shipping_pay_date, :size => 8 %></td>        
            <td class="update" id="submit-<%= pladmin.id %>"><%= f.submit "更新", class: 'btn btn-default btn-sm'%></td>
            
            <!--チェックボックス更新用JQuery-->
            <script>
              $("#check-<%= pladmin.id %>").change(function(e){
                $('#edit_pladmin_<%= pladmin.id %>').submit();
              });
            </script>
          <% end %> 
        </tr>  
        <% end %>
        <tr>
          <td class="update"></td>
          <td class="middle"></td>          
          <td class="account"></td>
          <td class="order_num"></td>
          <td class="order_num"></td>
          <td class="content" style="text-align:right">合計</td>
            <% total_quantity = @pladmins.group(:id, :quantity).sum(:quantity).values.inject(:+) %>  
          <td class="rate"><%= addcomma(total_quantity.to_i) %></td>         
          <td class="company"></td>
            <% total_sale_amount = @pladmins.group(:id, :sale_amount).sum(:sale_amount).values.inject(:+) %>        
          <td class="amount"><%= addcomma(total_sale_amount.to_i) %></td>
            <% total_cgs_amount = @pladmins.group(:id, :cgs_amount).sum(:cgs_amount).values.inject(:+) %>            
          <td class="amount"><%= addcomma(total_cgs_amount.to_i) %></td>
            <% total_commission = @pladmins.group(:id, :commission).sum(:commission).values.inject(:+) %>            
          <td class="amount"><%= addcomma(total_commission.to_i) %></td>
            <% total_shipping_cost = @pladmins.group(:id, :shipping_cost).sum(:shipping_cost).values.inject(:+) %>            
          <td class="amount"><%= addcomma(total_shipping_cost.to_i) %></td>
            <% if total_sale_amount.present? && total_cgs_amount.present? && total_commission.present? && total_shipping_cost.present? %>
              <% total_profit = total_sale_amount - total_cgs_amount -  total_commission - total_shipping_cost %>
            <% elsif total_sale_amount.present? && total_cgs_amount.present? && total_commission.present? && total_shipping_cost.blank? %> 
              <% total_profit = total_sale_amount - total_cgs_amount -  total_commission %>
            <% elsif total_sale_amount.present? && total_cgs_amount.present? && total_commission.blank? && total_shipping_cost.present? %> 
              <% total_profit = total_sale_amount - total_cgs_amount -  total_shipping_cost %>
            <% elsif total_sale_amount.present? && total_cgs_amount.present? && total_commission.blank? && total_shipping_cost.blank? %> 
              <% total_profit = total_sale_amount - total_cgs_amount %>              
            <% end %> 
          <td class="amount"><%= addcomma(total_profit.to_i) %></td>   
          <td class="account"></td>
          <td class="account"></td>
          <td class="account"></td>
          <td class="update"></td>
        </tr>
      </tbody>
<% content_for :foot do %> 
        <%= form_for(@pladmin) do |f|  %>
      <tbody class="footer">
        <tr>
          <td class="update"></td>
          <td class="middle"></td>          
          <td class="account"><%= f.text_field :date, :size => 8 %></td>
          <td class="order_num"><%= f.text_field :order_num, :size => 18 %></td>
          <td class="order_num"><%= f.text_field :sku, :size => 18 %></td>
          <td class="content"><%= f.text_field :goods_name, :size => 42 %></td>
          <td class="rate"><%= f.text_field :quantity, :size => 1, :style=>"text-align:right"%></td>            
          <td class="company"><%= f.text_field :sale_place, :size => 8 %></td>        
          <td class="amount"><%= f.text_field :sale_amount, :size => 8, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
          <td class="amount"></td>
          <td class="amount"><%= f.text_field :commission, :size => 8, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
          <td class="amount"><%= f.text_field :shipping_cost, :size => 8, :style=>"text-align:right", data: { autonumeric: {mDec: 0} } %></td>
          <td class="amount"></td>      
          <td class="account"><%= f.text_field :money_receive, :size => 8 %></td>
          <td class="account"><%= f.text_field :commission_pay_date, :size => 8 %></td>
          <td class="account"><%= f.text_field :shipping_pay_date, :size => 8 %></td>
          <td class="update"><%= f.submit "登録", class: 'btn btn-default btn-sm'%></td>
        </tr> 
        <% end %>  
      </tbody>
    </table>
  <%= paginate @pladmins %>
  </div>

  <div style="display: inline-block;">
    <p>Download:
      <%= link_to "CSV形式でダウンロード", pladmins_path(format: "csv") %>
    </p>
    
    <p>
      フォーマットはこちらからダウンロードしてください:
      <%= link_to "フォーマット出力", blank_form_pladmins_path(format: "csv"), class: "btn btn-primary" %>
    </p>
  </div>
<% end %>