<div class="panel panel-default" id="expense-title-default">
	<div class="panel-heading">
	  付随費用登録(修正画面)
	  <%= link_to "一覧画面へ", expense_titles_path, class: 'btn btn-default btn-sm'%>
	</div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-condensed">
      <thead>      
        <tr>
          <th class="order_num">諸掛項目</th>
          <th class="detail">按分方法</th>
          <th class="update"></th>      
        </tr>      
      </thead>
      <tbody class="stocks">
        <% @expense_titles = current_user.expense_titles.where(id: (@expense_title.id..(@expense_title.id + 25))) %>              
        <% @expense_titles.each do |expense_title| %>
          <!--Ajax用に固有のidを設定-->
          <tr id="expense_title-<%= expense_title.id %>">
            <%= form_for(expense_title, url: expense_show_path(expense_title)) do |f| %>
              <td class="order_num"><%= expense_title.item %></td>
                <% array_title = [] %>
                <% display_title = "" %>              
                <% array_title = expense_title.method.gsub(/\"/, "").gsub(" ", "").gsub("[", "").gsub("]", "").split(",") if expense_title.method.present?%>
                <% if array_title.blank? %>
                  <% display_title = "無し" %>
                <% elsif array_title.count == 1 %>
                  <% display_title = array_title[0] %>
                <% else %>
                  <% count_title = array_title.count %>
                  <% 0.upto(count_title-2) do |i| %>
                    <% display_title += array_title[i] + "," %>
                  <% end %>
                  <% display_title += array_title[count_title -1] %>
                <% end %>
              <td class="detail"><%= f.collection_select :method, current_user.expense_methods.all, :method, :method, {include_blank: "現在の選択値:" + display_title.to_s, include_hidden: false}, {multiple: true, class: "method_select"}%></td>
              <td class="update"><%= f.submit '更新', class: 'btn btn-default btn-sm' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
