<h1>マルチチャンネルＳＫＵ登録</h1>

<table>
  <thead>
    <tr>
      <th>注文番号</th>
      <th>ＳＫＵ</th>      
    </tr>
  </thead>
  <tbody>
    <% @multi_channels.each do |channel| %>
      <tr>
        <%= form_for(channel, url: multi_channel_path(channel)) do |f|  %>
          <td><%= f.text_field :order_num %></td>              
          <td><%= f.text_field :sku %></td>
          <td class="hidden-lg hidden-md hidden-sm hidden-xs"><%= f.submit %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Download:
  <%= link_to "CSV形式でダウンロード", multi_channels_path(format: "csv") %>
</p>


