    <tbody class="edit_sales">
      <% @sales = current_user.sales.where(id: (@sale.id..(@sale.id + 25))) %>
      <% @sales.each do |sale| %>
        <!--Ajax用に固有のidを設定-->
        <tr id="sale-<%= sale.id %>">
          <td class="account"><%= sale.date %></td>
          <td class="order_num"><%= sale.order_num %></td>
          <td class="large"><%= sale.sku %></td>
          <td class="order_num"><%= sale.kind_of_transaction %></td>
          <td class="order_num"><%= sale.kind_of_payment %></td>
          <td class="order_num"><%= sale.detail_of_payment %></td>
          <td class="amount"><%= addcomma(sale.amount) %></td>
          <td class="rate"><%= erase_zero(sale.quantity) %></td>
          <td class="content"><%= sale.goods_name %></td>
          <td class="account"><%= sale.money_receive %></td>
          <td class="account"><%= sale.handling %></td>
          <td class="update" id="submit-<%= sale.id %>"><%= link_to "修正", edit_sale_path(sale), class: 'btn btn-default btn-xs'%></td>  
        </tr>
      <% end %>
    </tbody>
  </table>
</div>