<div class="panel panel-default" id="edit-default">
	<div class="panel-heading">
	  トランザクションの概要(一覧画面)
	</div>
  <div class="panel-body"> 
    <%= search_form_for(@q, url: sales_path) do |f| %>
      <%= f.label :order_num_cont, "注文番号で検索" %>
      <%= f.search_field :order_num_cont %>
      <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %>     
    <%= search_form_for(@q, url: sales_path) do |f| %>
      <%= f.label :sku_eq, "SKUで検索" %>
      <%= f.search_field :sku_eq %>
      <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %>
    <%= search_form_for(@q, url: sales_path) do |f| %>
      <%= f.label :detail_of_payment_cont, "支払の詳細で検索" %>
      <%= f.search_field :detail_of_payment_cont %>
      <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %>         
    <%= search_form_for(@q, url: sales_path) do |f| %>            
      <%= f.label :goods_name_cont, "商品名で検索" %>
      <%= f.search_field :goods_name_cont %>
      <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %>
    <%= search_form_for(@q, url: sales_path) do |f| %>            
      <%= f.label :money_receive_eq, "締め日で検索" %>
      <%= f.search_field :money_receive_eq %>
      <%= f.submit "検索", class: 'btn btn-default btn-xs'%>
    <% end %> 
    <br>
    <%= form_tag({action: 'upload'}, {multipart: true, class: "form_tag_rakuten"}) do %>
      <label>CSVデータの取込み:</label>
      <%= file_field :upload, :datafile, {multiple: true, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false}%>
      <%= submit_tag "UPLOAD", class: 'btn btn-default btn-sm'%>
    <% end %>     
  </div>
</div>