<!DOCTYPE html>
<html>
  <head>
    <title>せどり会計システム</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <header class="navbar navbar-fixed-top">    
        <%= render 'layouts/header' %>
        <%= render 'layouts/dropdown' %>
      </header>
      
      <%= yield %>
      
    </div>  
  </body>
  <footer>
    <div class="copyright">© 2017 Aida Inc.</div>
  </footer>
</html>

