<div class="panel panel-default" id='new-default'>
	<div class="panel-heading">
	  振替台帳(新規登録画面)
	  <%= link_to "一覧画面へ", vouchers_path, class: 'btn btn-default btn-sm'%>
	</div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>         
          <th class="account">日付</th>
          <th class="account">借方勘定科目</th>
          <th class="large">借方補助科目</th>          
          <th class="account">借方税コード</th>          
          <th class="account">貸方勘定科目</th>
          <th class="large">貸方補助科目</th>          
          <th class="account">貸方税コード</th>
          <th class="amount">金額</th>
          <th class="content">摘要</th>
          <th class="company">取引先</th>
          <th class="update">更新</th>          
        </tr>
      </thead>
      <%= form_for(@voucher) do |f|  %>
        <tbody class="footer">
          <tr>        
            <td class="account"><%= f.text_field :date, :size=> "7"%></td>
            <td class="account"><%= f.text_field :debit_account, :size=> "7" %></td>
            <td class="large"><%= f.text_field :debit_subaccount, :size=> "11" %></td>              
            <td class="account"><%= f.text_field :debit_taxcode, :size=> "7" %></td>              
            <td class="account"><%= f.text_field :credit_account, :size=> "7" %></td>
            <td class="large"><%= f.text_field :credit_subaccount, :size=> "11" %></td>              
            <td class="account"><%= f.text_field :credit_taxcode, :size=> "7" %></td>
            <td class="amount"><%= f.text_field :amount, :size=> "6", :style=>"text-align:right", data: { autonumeric: {mDec: 0} }%></td>
            <td class="content" style="white-space:nowrap;"><%= f.text_field :content, :size => "36" %></td>
            <td class="company"><%= f.text_field :trade_company, :size => "8" %></td> 
            <td class="update"><%= f.submit "登録", class: 'btn btn-default btn-xs'%></td>
          </tr>
        </tbody>  
      <% end %>       
    </table>
    <br>
    <div style="display: inline-block">   
      <%= form_tag({action: 'upload'}, {multipart: true, class: "form_tag"}) do %>
        <label>CSVファイルの取込み：</label>
        <%= file_field :upload, :datafile, class: 'filestyle', "data-buttonText": "ファイル選択", 'data-input': false %>
        <%= submit_tag "UPLOAD", class: 'btn btn-default' %>
      <% end %>
    </div>    
  </div>
</div>  