<h1>振替台帳</h1>

<div class="container" id='aj-form'>
<!--クリックイベントを作る為に外包するIDをを作成-->
  <div style="overflow: hidden;">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th class="update"><a href= ./vouchers/destroy class="btn btn-default">削除</th>          
            <th class="small">ID</th>
            <th class="account">日付</th>
            <th class="account">借方勘定科目</th>
            <th class="large">借方補助科目</th>          
            <th class="account">借方税コード</th>          
            <th class="account">貸方勘定科目</th>
            <th class="large">貸方補助科目</th>          
            <th class="account">貸方税コード</th>
            <th class="amount">金額</th>
            <th class="content">摘要</th>
            <th class="company">取引先</th>
            <th class="update">更新</th>   
          </tr>
        </thead>
        <tbody>
          <% @vouchers.each do |voucher| %>
            <!--Ajax用に固有のidを設定-->
            <tr id="voucher-<%= voucher.id %>">
              <!--Ajaxのrender用に部分テンプレートに切り出し-->
              <%= render 'form', voucher: voucher %>
            </tr>
          <% end %>
          
          <%= form_for(@voucher) do |f|  %>
          <tr>
            <td class="update">新規</td>
            <th class="small"></th>            
            <td class="account"><%= f.text_field :date, :size=> "8"%></td>
            <td class="account"><%= f.text_field :debit_account, :size=> "8" %></td>
            <td class="large"><%= f.text_field :debit_subaccount, :size=> "10" %></td>              
            <td class="account"><%= f.text_field :debit_taxcode, :size=> "8" %></td>              
            <td class="account"><%= f.text_field :credit_account, :size=> "8" %></td>
            <td class="large"><%= f.text_field :credit_subaccount, :size=> "10" %></td>              
            <td class="account"><%= f.text_field :credit_taxcode, :size=> "8" %></td>
            <td class="amount"><%= f.text_field :amount, :size=> "6", :style=>"text-align:right", data: { autonumeric: {mDec: 0} }%></td>
            <td class="content" style="white-space:nowrap;"><%= f.text_field :content, :size => "40" %></td>
            <td class="company"><%= f.text_field :trade_company, :size => "8" %></td>
            <td class="update"><%= f.submit "登録", class: 'btn btn-default'%></td>
          </tr>
          <% end %>
        </tbody>
        <%= paginate @vouchers %>
      </table>
    </div>      
  </div>
</div>
